Repository game-scheduler/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

Path conditions:
  add-copyright: any of: \.(py|ts|tsx)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  python-compile: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$

chore: remove discord-embed-rate-limit planning and research files
  .copilot-tracking/planning/details/20260319-01-discord-embed-rate-limit-details.md
  .copilot-tracking/planning/plans/20260319-01-discord-embed-rate-limit.plan.md
  .copilot-tracking/planning/prompts/implement-discord-embed-rate-limit.prompt.md
  .copilot-tracking/research/20260319-01-discord-embed-rate-limit-research.md
Due: none

feat(frontend): add archive channel and delay fields to TemplateForm
  frontend/src/components/TemplateForm.tsx
  frontend/src/components/__tests__/TemplateCard.test.tsx
  frontend/src/components/__tests__/TemplateForm.test.tsx
  frontend/src/components/__tests__/TemplateList.test.tsx
  frontend/src/constants/time.ts
  frontend/src/pages/__tests__/CreateGame.test.tsx
  frontend/src/types/index.ts
Due: add-copyright, eslint, prettier, typescript, frontend-build, vitest-coverage

refactor: update pre-commit hook names and remove verbose output
  .pre-commit-config.yaml
Due: none

docs: clarify TDD workflow for bug fixes
  .github/instructions/test-driven-development.instructions.md
Due: none

chore: add research and planning for status schedule bug fix
  .copilot-tracking/planning/details/20260321-01-status-schedule-bug-fix-details.md
  .copilot-tracking/planning/plans/20260321-01-status-schedule-bug-fix.plan.md
  .copilot-tracking/planning/prompts/implement-status-schedule-bug-fix.prompt.md
  .copilot-tracking/research/20260321-01-status-schedule-bug-fix-research.md
Due: none

plan: add rewards feature research and planning files
  .copilot-tracking/planning/details/20260321-02-rewards-feature-details.md
  .copilot-tracking/planning/plans/20260321-02-rewards-feature.plan.md
  .copilot-tracking/planning/prompts/implement-rewards-feature.prompt.md
  .copilot-tracking/research/20260321-02-rewards-feature-research.md
Due: none

feat(rewards): Phase 4 - bot formatter and completion handler DM
  .copilot-tracking/planning/changes/20260321-02-rewards-feature-changes.md
  .copilot-tracking/planning/plans/20260321-02-rewards-feature.plan.md
  services/bot/events/handlers.py
  services/bot/formatters/game_message.py
  shared/message_formats.py
  tests/unit/bot/events/test_handlers_misc.py
  tests/unit/bot/test_game_message_formatter.py
  tests/unit/shared/test_message_formats.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: wire rewards fields through game service layer
  .copilot-tracking/planning/changes/20260321-02-rewards-feature-changes.md
  .copilot-tracking/planning/plans/20260321-02-rewards-feature.plan.md
  services/api/services/games.py
  tests/unit/services/api/services/test_update_game_fields_helpers.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add migration for rewards and remind_host_rewards fields
  .copilot-tracking/changes/20260321-02-rewards-feature-changes.md
  .copilot-tracking/planning/plans/20260321-02-rewards-feature.plan.md
  alembic/versions/074a6da9da32_merge_rewards_and_message_refresh_queue_.py
  alembic/versions/20260321_add_rewards_fields.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile

test: add rewards feature tests and fix remind_host_rewards override bug
  services/api/services/games.py
  services/bot/events/handlers.py
  services/bot/formatters/game_message.py
  shared/utils/limits.py
  tests/e2e/helpers/discord.py
  tests/e2e/test_game_rewards.py
  tests/integration/test_rewards_fields.py
  tests/shared/e2e_fixtures/helpers/test_discord_helpers.py
  tests/unit/services/api/services/test_games_service.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: add c3e4f5a6b7c8 and 074a6da9da32 to migration version allowlist
  tests/integration/test_participant_action_schedule_migration.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

chore: add research and planning for archive reward player mentions
  .copilot-tracking/planning/details/20260322-01-archive-reward-player-mentions-details.md
  .copilot-tracking/planning/plans/20260322-01-archive-reward-player-mentions.plan.md
  .copilot-tracking/planning/prompts/implement-archive-reward-player-mentions.prompt.md
  .copilot-tracking/research/20260322-01-archive-reward-player-mentions-research.md
Due: none

test: add xfail tests for archive player @mention feature (phase 1)
  .copilot-tracking/changes/20260322-01-archive-reward-player-mentions-changes.md
  .copilot-tracking/planning/plans/20260322-01-archive-reward-player-mentions.plan.md
  tests/e2e/test_game_rewards.py
  tests/unit/bot/events/test_handlers_misc.py
  tests/unit/services/bot/events/test_handlers.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

chore: remove planning and research files for archive player mentions
  .copilot-tracking/planning/details/20260322-01-archive-reward-player-mentions-details.md
  .copilot-tracking/planning/plans/20260322-01-archive-reward-player-mentions.plan.md
  .copilot-tracking/planning/prompts/implement-archive-reward-player-mentions.prompt.md
  .copilot-tracking/research/20260322-01-archive-reward-player-mentions-research.md
Due: none

fix: force-refresh Discord channel cache in template editor
  frontend/src/pages/GuildListPage.tsx
  frontend/src/pages/TemplateManagement.tsx
  frontend/src/pages/__tests__/GuildListPage.test.tsx
  services/api/services/guild_service.py
  shared/discord/client.py
  tests/unit/api/services/test_guild_service_channel_refresh.py
  tests/unit/shared/discord/test_discord_api_client.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

plan: add role-based scheduling planning and research files
  .copilot-tracking/planning/details/20260324-01-role-based-scheduling-details.md
  .copilot-tracking/planning/plans/20260324-01-role-based-scheduling.plan.md
  .copilot-tracking/planning/prompts/implement-role-based-scheduling.prompt.md
  .copilot-tracking/research/20260324-01-role-based-scheduling-research.md
Due: none

docs: tell Copilot to skip AGENTS.md files
  .github/copilot-instructions.md
Due: none

feat: implement phases 3 and 4 of role-based scheduling
  .copilot-tracking/planning/changes/20260324-01-role-based-scheduling-changes.md
  .copilot-tracking/planning/plans/20260324-01-role-based-scheduling.plan.md
  services/api/routes/games.py
  services/api/services/games.py
  services/bot/auth/role_checker.py
  services/bot/handlers/join_game.py
  shared/utils/participant_sorting.py
  tests/unit/services/bot/auth/test_role_checker.py
  tests/unit/services/bot/handlers/test_join_game.py
  tests/unit/shared/utils/test_participant_sorting.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add role-based signup E2E tests (Phase 6)
  .copilot-tracking/planning/changes/20260324-01-role-based-scheduling-changes.md
  .copilot-tracking/planning/plans/20260324-01-role-based-scheduling.plan.md
  alembic/versions/b7c8d9e0f1a2_add_signup_priority_role_ids.py
  compose.e2e.yaml
  config.template/env.template
  docs/developer/TESTING.md
  tests/e2e/test_role_based_signup.py
  tests/integration/test_participant_action_schedule_migration.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

ux: auto-add priority role on dropdown selection
  frontend/src/components/TemplateForm.tsx
  frontend/src/components/__tests__/TemplateForm.test.tsx
Due: add-copyright, eslint, prettier, typescript, frontend-build, vitest-coverage

docs: document priority roles and rewards features in user guides
  docs/GUILD-ADMIN.md
  docs/HOST-GUIDE.md
  docs/PLAYER-GUIDE.md
Due: none

feat: replace nginx frontend with Caddy for SSL termination
  .copilot-tracking/changes/20260328-01-caddy-frontend-changes.md
  .copilot-tracking/planning/plans/20260328-01-caddy-frontend.plan.md
  compose.prod.yaml
  compose.staging.yaml
  compose.yaml
  config.template/env.template
  docker/Caddyfile.prod
  docker/Caddyfile.staging
  docker/frontend-entrypoint.sh
  docker/frontend-nginx.conf
  docker/frontend.Dockerfile
Due: none

fix: add gettext to frontend Dockerfile for envsubst
  docker/frontend.Dockerfile
Due: none

fix: clean up Caddyfile header_up directives and formatting
  docker/Caddyfile.prod
  docker/Caddyfile.staging
Due: none

fix: configure compose.prod.yaml for direct Caddy SSL termination
  compose.prod.yaml
Due: none

chore: remove completed Caddy frontend planning and research files
  .copilot-tracking/planning/details/20260328-01-caddy-frontend-details.md
  .copilot-tracking/planning/plans/20260328-01-caddy-frontend.plan.md
  .copilot-tracking/planning/prompts/implement-caddy-frontend.prompt.md
  .copilot-tracking/research/20260328-01-reverse-proxy-ssl-termination-research.md
Due: none

chore: update devcontainer configuration
  .devcontainer/devcontainer.json
Due: none

feat: expand description and signup instructions textareas
  frontend/src/components/GameForm.tsx
  frontend/src/components/TemplateForm.tsx
Due: add-copyright, eslint, prettier, typescript, frontend-build, vitest-coverage

fix: resolve channel tokens in where_display and display in frontend
  .copilot-tracking/changes/20260401-01-channel-recognition-bugs-changes.md
  .copilot-tracking/planning/plans/20260401-01-channel-recognition-bugs.plan.md
  frontend/src/components/GameCard.tsx
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/GameCard.where_display.test.tsx
  frontend/src/components/__tests__/GameForm.where_display.test.tsx
  frontend/src/pages/GameDetails.tsx
  frontend/src/pages/__tests__/GameDetails.where_display.test.tsx
  frontend/src/types/index.ts
  services/api/services/channel_resolver.py
  tests/integration/test_games_where_display.py
  tests/unit/services/api/services/test_channel_resolver.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

feat(api): add where_display field to GameResponse
  .copilot-tracking/planning/changes/20260401-01-channel-recognition-bugs-changes.md
  .copilot-tracking/planning/plans/20260401-01-channel-recognition-bugs.plan.md
  config
  services/api/routes/games.py
  shared/discord/client.py
  shared/schemas/game.py
  tests/unit/services/api/routes/test_games_helpers.py
  tests/unit/services/api/routes/test_games_participant_count.py
  tests/unit/services/api/routes/test_games_timezone.py
  tests/unit/shared/discord/test_discord_api_client.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

chore: remove completed channel-recognition-bugs planning files
  .copilot-tracking/planning/details/20260401-01-channel-recognition-bugs-details.md
  .copilot-tracking/planning/plans/20260401-01-channel-recognition-bugs.plan.md
  .copilot-tracking/planning/prompts/implement-channel-recognition-bugs.prompt.md
  .copilot-tracking/research/20260401-01-channel-recognition-bugs-research.md
Due: none

fix: correct participant count display and archive end time
  frontend/src/pages/EditGame.tsx
  services/api/routes/games.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

fix: drop stuck message_refresh_queue entries after max attempts
  services/bot/events/handlers.py
  tests/unit/services/bot/events/test_handlers.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

chore: update dev container for git worktree support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
Due: none

chore: improve devcontainer cache layer ordering and pin uv
  .devcontainer/Dockerfile
  pyproject.toml
Due: none

chore: pin uv==0.11.3 in Dockerfiles and add local act tooling
  .actrc
  .devcontainer/Dockerfile
  Makefile
  docker/api.Dockerfile
  docker/bot.Dockerfile
  docker/init.Dockerfile
  docker/retry.Dockerfile
  docker/scheduler.Dockerfile
  docker/test.Dockerfile
  scripts/run-act.sh
Due: none

refactor: reduce cognitive complexity of _update_status_schedules
  services/api/services/games.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add --compare-branch and --ci to check_lint_suppressions.py
  .copilot-tracking/planning/changes/20260329-01-github-actions-ci-cd-changes.md
  .copilot-tracking/planning/plans/20260329-01-github-actions-ci-cd.plan.md
  scripts/check_lint_suppressions.py
  tests/unit/scripts/test_check_lint_suppressions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: add integration test env file and correct test environment issues
  compose.yaml
  scripts/run-integration-tests.sh
  tests/integration/env.int
  tests/integration/test_template_creation.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage
