Repository game-scheduler/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

Path conditions:
  add-copyright: any of: \.(py|ts|tsx)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  python-compile: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$

chore: remove obsolete plan and research prompt files
  .github/prompts/plan.prompt.md
  .github/prompts/research.prompt.md
Due: none

feat: implement bot startup guild sync (task 5.4)
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
  .copilot-tracking/research/20260214-01-discord-webhook-events-automatic-sync-research.md
  services/bot/bot.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: implement Discord webhook endpoint with PING and APPLICATION_AUTHORIZED handling (Phase 3)
  .copilot-tracking/changes/20260214-01-discord-webhook-events-automatic-sync-changes.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
  compose.int.yaml
  compose.yaml
  services/api/app.py
  services/api/dependencies/discord_webhook.py
  services/api/routes/webhooks.py
  tests/integration/test_webhooks.py
  tests/services/api/dependencies/test_discord_webhook.py
  tests/services/api/routes/test_webhooks.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

Add planning files for Discord webhook events automatic guild sync
  .copilot-tracking/details/20260214-01-discord-webhook-events-automatic-sync-details.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
  .copilot-tracking/prompts/implement-discord-webhook-events-automatic-sync.prompt.md
  .copilot-tracking/research/20260214-01-discord-webhook-events-automatic-sync-research.md
Due: none

fix: remove incorrect channel_service mock from integration test
  tests/integration/test_guild_sync_channel_operations.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

Make e2e tests more verbose and add SKIP_STARTUP control
  compose.e2e.yaml
  scripts/run-e2e-tests.sh
Due: none

chore: remove completed tracking files for webhook implementation
  .copilot-tracking/details/20260214-01-discord-webhook-events-automatic-sync-details.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
  .copilot-tracking/prompts/implement-discord-webhook-events-automatic-sync.prompt.md
  .copilot-tracking/research/20260214-01-discord-webhook-events-automatic-sync-research.md
Due: none

Implement Discord webhook events for automatic guild sync
  .copilot-tracking/changes/20260214-01-discord-webhook-events-automatic-sync-changes.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
  compose.override.yaml
  docs/deployment/discord-webhook-setup.md
  services/api/app.py
  services/api/dependencies/discord_webhook.py
  services/api/routes/guilds.py
  services/api/routes/webhooks.py
  services/api/services/guild_service.py
  tests/e2e/test_channel_refresh_e2e.py
  tests/integration/api/routes/test_guilds.py
  tests/integration/test_guild_sync_channel_operations.py
  tests/unit/api/services/test_guild_service_channel_refresh.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: Add RabbitMQ event publishing to webhook endpoint
  .copilot-tracking/changes/20260214-01-discord-webhook-events-automatic-sync-changes.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
  services/api/routes/webhooks.py
  tests/integration/test_webhooks.py
  tests/services/api/routes/test_webhooks.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: implement Phase 4 bot guild sync service with startup sync
  .copilot-tracking/changes/20260214-01-discord-webhook-events-automatic-sync-changes.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
  services/api/app.py
  services/api/services/guild_service.py
  tests/services/api/services/test_guild_service.py
  tests/services/api/test_app.py
  tests/unit/services/api/services/test_guild_service_bot_sync.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

Update task 5.5 to use pytest-order instead of session-scoped fixture
  .copilot-tracking/details/20260214-01-discord-webhook-events-automatic-sync-details.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
Due: none

Show only failing functions in complexipy pre-commit hook
  .pre-commit-config.yaml
Due: none

Add interactive brainstorming prompt
  .github/prompts/brainstorm.prompt.md
Due: none

feat(bot): auto-sync guilds on join via gateway events (Phase 3)
  .copilot-tracking/changes/20260226-01-remove-webhooks-use-gateway-events-changes.md
  .copilot-tracking/plans/20260226-01-remove-webhooks-use-gateway-events.plan.md
  services/bot/bot.py
  tests/services/bot/test_bot.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

refactor: remove Discord webhook infrastructure and RabbitMQ guild sync event
  .copilot-tracking/changes/20260226-01-remove-webhooks-use-gateway-events-changes.md
  .copilot-tracking/plans/20260226-01-remove-webhooks-use-gateway-events.plan.md
  .copilot-tracking/research/20260226-01-remove-webhooks-use-gateway-events-research.md
  config.template/env.template
  docs/deployment/discord-webhook-setup.md
  pyproject.toml
  services/api/app.py
  services/api/config.py
  services/api/dependencies/__init__.py
  services/api/dependencies/discord_webhook.py
  services/api/routes/webhooks.py
  services/bot/events/handlers.py
  shared/messaging/events.py
  tests/integration/test_webhooks.py
  tests/services/api/dependencies/test_discord_webhook.py
  tests/services/api/routes/test_webhooks.py
  tests/services/bot/events/test_handlers.py
  uv.lock
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

Update Claude Sonnet model references from 4.5 to 4.6
  .github/agents/task-planner.agent.md
  .github/instructions/agents.instructions.md
  .github/prompts/brainstorm.prompt.md
  .github/prompts/commit.prompt.md
  .github/prompts/verify-code.prompt.md
Due: none

Remove complexipy.json from tracking and add to .gitignore
  .gitignore
  complexipy.json
Due: none

Remove tracking files for remove-channel-refresh-from-guild-sync task
  .copilot-tracking/details/20260228-01-remove-channel-refresh-from-guild-sync-details.md
  .copilot-tracking/plans/20260228-01-remove-channel-refresh-from-guild-sync.plan.md
  .copilot-tracking/prompts/implement-remove-channel-refresh-from-guild-sync.prompt.md
  .copilot-tracking/research/20260228-01-remove-channel-refresh-from-guild-sync-research.md
Due: none

refactor(tests): extract nested SSE helpers to reduce cognitive complexity
  tests/integration/test_sse_bridge.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

plan: bot maintainer privilege level
  .copilot-tracking/details/20260301-01-bot-maintainer-privilege-details.md
  .copilot-tracking/plans/20260301-01-bot-maintainer-privilege.plan.md
  .copilot-tracking/prompts/implement-bot-maintainer-privilege.prompt.md
  .copilot-tracking/research/20260301-01-bot-maintainer-privilege-research.md
Due: none

chore: add research and planning for lint suppression scanner hook
  .copilot-tracking/details/20260301-02-lint-suppression-scanner-details.md
  .copilot-tracking/plans/20260301-02-lint-suppression-scanner.plan.md
  .copilot-tracking/prompts/implement-lint-suppression-scanner.prompt.md
  .copilot-tracking/research/20260301-02-lint-suppression-scanner-research.md
Due: none

Remove require_host_role field from guild configuration
  .copilot-tracking/changes/20260301-03-remove-require-host-role-changes.md
  .copilot-tracking/plans/20260301-03-remove-require-host-role.plan.md
  alembic/versions/e8f2a91cb3d7_remove_require_host_role.py
  docs/GUILD-ADMIN.md
  docs/developer/database.md
  frontend/src/pages/GuildConfig.tsx
  frontend/src/pages/__tests__/GuildConfig.test.tsx
  frontend/src/types/index.ts
  output-coverage.txt
  services/api/routes/guilds.py
  shared/models/guild.py
  shared/schemas/guild.py
  tests/e2e/test_guild_routes_e2e.py
  tests/services/api/routes/test_guilds.py
  tests/services/api/services/test_guild_service.py
  tests/services/bot/test_guild_sync.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

chore: remove require_host_role tracking files after implementation
  .copilot-tracking/details/20260301-03-remove-require-host-role-details.md
  .copilot-tracking/plans/20260301-03-remove-require-host-role.plan.md
  .copilot-tracking/prompts/implement-remove-require-host-role.prompt.md
  .copilot-tracking/research/20260301-03-remove-require-host-role-research.md
Due: none

docs: update GUILD-ADMIN.md with roles, templates, and permissions improvements
  docs/GUILD-ADMIN.md
Due: none

Add game clone feature planning documents
  .copilot-tracking/details/20260302-01-game-clone-details.md
  .copilot-tracking/plans/20260302-01-game-clone.plan.md
  .copilot-tracking/prompts/implement-game-clone.prompt.md
  .copilot-tracking/research/20260302-01-game-clone-research.md
Due: none

feat: game clone Phase 1 + Phase 2 (YES/NO carryover)
  .copilot-tracking/changes/20260302-01-game-clone-changes.md
  .copilot-tracking/plans/20260302-01-game-clone.plan.md
  alembic/versions/f3a2c1d8e9b7_add_participant_action_schedule.py
  frontend/src/App.tsx
  frontend/src/pages/CloneGame.tsx
  frontend/src/pages/GameDetails.tsx
  frontend/src/pages/__tests__/CloneGame.test.tsx
  services/api/routes/games.py
  services/api/schemas/__init__.py
  services/api/schemas/clone_game.py
  services/api/services/games.py
  shared/models/__init__.py
  shared/models/participant_action_schedule.py
  tests/integration/test_clone_game_endpoint.py
  tests/integration/test_participant_action_schedule_migration.py
  tests/unit/schemas/test_clone_game_schema.py
  tests/unit/services/test_clone_game.py
  tests/unit/services/test_game_service_persist_and_publish.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

Phase 6: participant action daemon for deadline-based auto-drop
  .copilot-tracking/changes/20260302-01-game-clone-changes.md
  .copilot-tracking/plans/20260302-01-game-clone.plan.md
  compose.e2e.yaml
  compose.int.yaml
  compose.yaml
  docker/participant-action-daemon.Dockerfile
  services/scheduler/daemon_runner.py
  services/scheduler/participant_action_daemon_wrapper.py
  services/scheduler/status_transition_daemon_wrapper.py
  tests/integration/test_participant_action_daemon.py
  tests/unit/services/test_daemon_runner.py
  tests/unit/services/test_participant_action_daemon_wrapper.py
  tests/unit/services/test_participant_action_event_builder.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

Phase 7: frontend YES_WITH_DEADLINE + remove 422 guard; fix testing bugs
  .copilot-tracking/changes/20260302-01-game-clone-changes.md
  .copilot-tracking/plans/20260302-01-game-clone.plan.md
  docker/notification-daemon.Dockerfile
  docker/participant-action-daemon.Dockerfile
  docker/status-transition-daemon.Dockerfile
  frontend/src/pages/CloneGame.tsx
  frontend/src/pages/__tests__/CloneGame.test.tsx
  output-coverage.txt
  services/api/services/games.py
  services/bot/events/handlers.py
  services/bot/handlers/participant_drop.py
  tests/e2e/helpers/discord.py
  tests/e2e/test_clone_game_e2e.py
  tests/integration/test_clone_game_endpoint.py
  tests/integration/test_participant_drop_event.py
  tests/services/bot/events/test_handlers.py
  tests/shared/e2e_fixtures/helpers/test_discord.py
  tests/unit/bot/handlers/test_participant_drop_handler.py
  tests/unit/bot/views/test_clone_confirmation_view.py
  tests/unit/services/test_clone_game.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

planning: expand Phase 6 tasks and surface audit in scheduler daemon consolidation
  .copilot-tracking/plans/20260305-01-scheduler-daemon-consolidation.plan.md
  .copilot-tracking/prompts/implement-scheduler-daemon-consolidation.prompt.md
  .copilot-tracking/research/20260305-01-scheduler-daemon-consolidation-research.md
Due: none

tests: fix e2e image flakiness and simplify image fixtures
  tests/e2e/conftest.py
  tests/e2e/helpers/discord.py
  tests/e2e/test_game_image_display.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

infra: add per-service coverage collection to integration and e2e tests
  .copilot-tracking/changes/20260308-03-coverage-collection-infrastructure-fix-changes.md
  .copilot-tracking/plans/20260308-03-coverage-collection-infrastructure-fix.plan.md
  compose.e2e.yaml
  compose.int.yaml
  docker/api.Dockerfile
  docker/bot.Dockerfile
  docker/init.Dockerfile
  docker/retry.Dockerfile
  docker/scheduler.Dockerfile
  pyproject.toml
  scripts/coverage-report.sh
  uv.lock
Due: none

chore: remove coverage infrastructure planning and research files
  .copilot-tracking/details/20260308-03-coverage-collection-infrastructure-fix-details.md
  .copilot-tracking/plans/20260308-03-coverage-collection-infrastructure-fix.plan.md
  .copilot-tracking/prompts/implement-coverage-collection-infrastructure-fix.prompt.md
  .copilot-tracking/research/20260308-03-test-coverage-gaps-research.md
Due: none

feat: Phase 2 - wire Discord URL config to callsites and oauth2.py
  .copilot-tracking/changes/20260308-04-auth-oauth-testing-changes.md
  .copilot-tracking/plans/20260308-04-auth-oauth-testing.plan.md
  services/api/auth/oauth2.py
  services/api/config.py
  services/api/dependencies/discord.py
  services/bot/config.py
  services/bot/dependencies/discord_client.py
  tests/unit/test_discord_dependency.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add auth route integration tests via fake Discord service (Phase 4)
  .copilot-tracking/changes/20260308-04-auth-oauth-testing-changes.md
  .copilot-tracking/plans/20260308-04-auth-oauth-testing.plan.md
  compose.int.yaml
  services/api/dependencies/auth.py
  tests/integration/fixtures/fake_discord_app.py
  tests/integration/test_auth_routes.py
  tests/integration/test_template_creation.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

chore: remove auth-oauth-testing tracking files after completion
  .copilot-tracking/details/20260308-04-auth-oauth-testing-details.md
  .copilot-tracking/plans/20260308-04-auth-oauth-testing.plan.md
  .copilot-tracking/prompts/implement-auth-oauth-testing.prompt.md
  .copilot-tracking/research/20260308-04-auth-oauth-testing-research.md
Due: none

plan: GameStatus enum consolidation
  .copilot-tracking/details/20260308-01-game-status-consolidation-details.md
  .copilot-tracking/plans/20260308-01-game-status-consolidation.plan.md
  .copilot-tracking/prompts/implement-game-status-consolidation.prompt.md
  .copilot-tracking/research/20260308-01-game-status-consolidation-research.md
Due: none

Consolidate GameStatus enum
  .copilot-tracking/changes/20260308-01-game-status-consolidation-changes.md
  .copilot-tracking/plans/20260308-01-game-status-consolidation.plan.md
  services/bot/formatters/game_message.py
  shared/models/game.py
  shared/utils/status_transitions.py
  tests/e2e/test_game_status_transitions.py
  tests/integration/test_clone_game_endpoint.py
  tests/integration/test_games_route_guild_isolation.py
  tests/services/bot/events/test_handlers.py
  tests/services/scheduler/test_event_builders.py
  tests/unit/bot/handlers/test_participant_drop_handler.py
  tests/unit/shared/utils/test_status_transitions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

refactor: reorganize copilot tracking planning paths
  .copilot-tracking/changes/20251130-remove-guild-name-from-database-changes.md
  .copilot-tracking/changes/20251204-api-authorization-audit-changes.md
  .copilot-tracking/changes/20251206-docker-base-image-updates-changes.md
  .copilot-tracking/changes/20251206-opentelemetry-observability-changes.md
  .copilot-tracking/changes/20251216-docker-in-docker-act-path-mounting-changes.md
  .copilot-tracking/changes/20260125-ruff-rules-expansion-changes.md
  .copilot-tracking/changes/20260301-01-bot-maintainer-privilege-changes.md
  .copilot-tracking/changes/20260302-01-game-clone-changes.md
  .copilot-tracking/changes/20260305-01-scheduler-daemon-consolidation-changes.md
  .copilot-tracking/changes/20260308-01-game-status-consolidation-changes.md
  .copilot-tracking/changes/20260308-04-auth-oauth-testing-changes.md
  .copilot-tracking/planning/AGENTS.md
  .copilot-tracking/planning/details/20251206-opentelemetry-observability-details.md
  .copilot-tracking/planning/plans/20251206-opentelemetry-observability.plan.md
  .copilot-tracking/planning/prompts/implement-opentelemetry-observability.prompt.md
  .copilot-tracking/research/AGENTS.md
  .github/instructions/task-implementation.instructions.md
Due: none

docs: add global Codex instructions
  .copilot-tracking/planning/AGENTS.md
  AGENTS.md
  scripts/show-implement-prompt.sh
Due: none
