Repository game-scheduler/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

Path conditions:
  add-copyright: any of: \.(py|ts|tsx)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  python-compile: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$

fix: remove APPROVED_WEAK_ASSERTIONS hint from error message
  scripts/check_test_assertions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile

fix: strengthen assertions in 4 test files
  tests/unit/services/api/dependencies/test_permissions_migration.py
  tests/unit/services/api/routes/test_channels.py
  tests/unit/services/api/services/test_games_service.py
  tests/unit/services/init/test_main_roles_only.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

docs: require self-verification before requesting weak-assert bypass
  .github/instructions/quality-check-overrides.instructions.md
Due: none

fix: strengthen zero-assertion violations batch 7 (29 violations, 8 files)
  tests/conftest.py
  tests/e2e/conftest.py
  tests/integration/test_button_handler.py
  tests/unit/services/api/auth/test_roles.py
  tests/unit/services/api/dependencies/test_api_permissions.py
  tests/unit/services/api/middleware/test_error_handler.py
  tests/unit/services/bot/events/test_handlers_game_cancelled.py
  tests/unit/services/bot/events/test_handlers_send_notification.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add fix-test-assertion-violations doc and reference in hook output
  docs/developer/fix-test-assertion-violations.md
  scripts/check_test_assertions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile

fix: strengthen zero-assertion tests in batch 9
  tests/e2e/test_00_environment.py
  tests/integration/shared/services/test_image_storage_integration.py
  tests/integration/test_join_game.py
  tests/integration/test_leave_game.py
  tests/integration/test_rabbitmq_infrastructure.py
  tests/unit/services/api/routes/test_auth_routes.py
  tests/unit/services/api/services/test_calendar_export.py
  tests/unit/services/bot/events/test_channel_worker.py
  tests/unit/services/bot/views/test_game_view.py
  tests/unit/services/scheduler/test_postgres_listener.py
  tests/unit/shared/cache/test_claim_channel_rate_limit_slot.py
  tests/unit/shared/messaging/test_consumer.py
  tests/unit/shared/messaging/test_sync_publisher.py
  tests/unit/shared/test_database_deferred_publishing.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: broaden assert prefix to cover assert_not_awaited and similar
  scripts/check_test_assertions.py
  tests/unit/scripts/test_check_test_assertions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: strengthen weak assertions in 10 test files (batch 6)
  pyproject.toml
  tests/integration/test_integration_database_users.py
  tests/unit/services/api/routes/test_games_image_validation.py
  tests/unit/services/api/test_api_main.py
  tests/unit/services/api/test_app.py
  tests/unit/services/bot/commands/test_list_games.py
  tests/unit/services/bot/events/test_handlers_player_removal.py
  tests/unit/services/init/test_seed_e2e.py
  tests/unit/services/scheduler/test_scheduler_daemon_wrapper.py
  tests/unit/shared/cache/test_claim_global_and_channel_slot.py
  tests/unit/shared/data_access/test_guild_queries_unit.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: exempt call_args-verified mocks and add get_config to no-arg-methods
  docs/developer/fix-test-assertion-violations.md
  pyproject.toml
  scripts/check_test_assertions.py
  tests/unit/scripts/test_check_test_assertions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: resolve 40 assertion violations in third batch of 6 files
  pyproject.toml
  tests/unit/api/services/test_guild_service_channel_refresh.py
  tests/unit/bot/events/test_handlers_game_events.py
  tests/unit/bot/test_guild_projection.py
  tests/unit/services/api/auth/test_oauth2.py
  tests/unit/services/bot/commands/test_my_games.py
  tests/unit/shared/test_telemetry.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: strengthen zero-assertion violations batch 8 (25 violations, 10 files)
  tests/unit/bot/handlers/test_participant_drop_handler.py
  tests/unit/bot/test_bot_ready.py
  tests/unit/bot/test_sweep_orphaned_embeds.py
  tests/unit/services/api/routes/test_games_helpers.py
  tests/unit/services/bot/auth/test_cache.py
  tests/unit/services/bot/events/test_handlers_game_created.py
  tests/unit/services/bot/handlers/test_utils.py
  tests/unit/services/bot/test_guild_sync.py
  tests/unit/services/scheduler/test_daemon_runner_run.py
  tests/unit/services/scheduler/test_daemon_runner_signals.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

docs: rewrite fix-test-assertion-violations guide to discourage escape-hatch abuse
  docs/developer/fix-test-assertion-violations.md
Due: none

fix: add assertions to test_handlers_lifecycle_events and test_handlers_game_reminder
  .copilot-tracking/changes/20260426-02-test-quality-precommit-gate-changes.md
  tests/unit/bot/events/test_handlers_lifecycle_events.py
  tests/unit/services/bot/events/test_handlers_game_reminder.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: recognize chained assert_* calls on named mocks
  scripts/check_test_assertions.py
  tests/unit/scripts/test_check_test_assertions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

refactor: split test_handlers.py into per-handler files
  tests/unit/services/bot/events/conftest.py
  tests/unit/services/bot/events/test_handlers.py
  tests/unit/services/bot/events/test_handlers_channel_worker.py
  tests/unit/services/bot/events/test_handlers_clone.py
  tests/unit/services/bot/events/test_handlers_edit_backoff.py
  tests/unit/services/bot/events/test_handlers_game_cancelled.py
  tests/unit/services/bot/events/test_handlers_game_created.py
  tests/unit/services/bot/events/test_handlers_game_reminder.py
  tests/unit/services/bot/events/test_handlers_game_updated.py
  tests/unit/services/bot/events/test_handlers_init.py
  tests/unit/services/bot/events/test_handlers_join_notification.py
  tests/unit/services/bot/events/test_handlers_player_removal.py
  tests/unit/services/bot/events/test_handlers_refresh_message.py
  tests/unit/services/bot/events/test_handlers_send_notification.py
  tests/unit/services/bot/events/test_handlers_status_transition.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

plan: add test-quality-precommit-gate research and planning files
  .copilot-tracking/planning/details/20260426-02-test-quality-precommit-gate-details.md
  .copilot-tracking/planning/plans/20260426-02-test-quality-precommit-gate.plan.md
  .copilot-tracking/planning/prompts/implement-test-quality-precommit-gate.prompt.md
  .copilot-tracking/research/20260422-02-test-quality-precommit-gate-research.md
Due: none

feat: support preceding-line form of assert-not-weak marker
  docs/developer/fix-test-assertion-violations.md
  scripts/check_test_assertions.py
  tests/unit/scripts/test_check_test_assertions.py
  tests/unit/services/api/routes/test_channels.py
  tests/unit/services/bot/events/test_handlers_join_notification.py
  tests/unit/services/bot/formatters/test_game_message.py
  tests/unit/services/init/test_main_roles_only.py
  tests/unit/services/retry/test_retry_daemon_unit.py
  tests/unit/services/scheduler/test_generic_scheduler_daemon.py
  tests/unit/shared/cache/test_cache_client.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add check-test-assertions pre-commit hook (Phase 1-2)
  .copilot-tracking/changes/20260426-02-test-quality-precommit-gate-changes.md
  .copilot-tracking/planning/plans/20260426-02-test-quality-precommit-gate.plan.md
  .pre-commit-config.yaml
  scripts/check_test_assertions.py
  tests/unit/scripts/test_check_test_assertions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: add assertions to test_bot, test_decorators, test_handlers_status_transition, test_handlers_clone
  pyproject.toml
  tests/unit/services/bot/commands/test_decorators.py
  tests/unit/services/bot/events/test_handlers_clone.py
  tests/unit/services/bot/events/test_handlers_status_transition.py
  tests/unit/services/bot/test_bot.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: add assertions to test_handlers_join_notification and test_generic_scheduler_daemon
  tests/unit/services/bot/events/test_handlers_join_notification.py
  tests/unit/services/scheduler/test_generic_scheduler_daemon.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: exclude pytest.raises aliases from named-mock check
  scripts/check_test_assertions.py
  tests/unit/scripts/test_check_test_assertions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: recognise mock attribute access as valid verification in unasserted-mocks check
  scripts/check_test_assertions.py
  tests/unit/scripts/test_check_test_assertions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add --all flag to scan all test files without staging
  scripts/check_test_assertions.py
  tests/unit/scripts/test_check_test_assertions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: detect assert_called_once_with(ALL ANY) as weak assertion
  scripts/check_test_assertions.py
  tests/unit/scripts/test_check_test_assertions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: replace remaining 19 assert_called_once_with(ALL ANY) violations
  tests/unit/bot/test_bot_ready.py
  tests/unit/services/api/auth/test_roles.py
  tests/unit/services/api/middleware/test_error_handler.py
  tests/unit/services/api/routes/test_channels.py
  tests/unit/services/api/routes/test_games_helpers.py
  tests/unit/services/api/test_api_main.py
  tests/unit/services/bot/events/test_handlers_refresh_message.py
  tests/unit/services/bot/handlers/test_utils.py
  tests/unit/services/bot/test_bot.py
  tests/unit/services/init/test_seed_e2e.py
  tests/unit/services/scheduler/test_daemon_runner_run.py
  tests/unit/services/scheduler/test_generic_scheduler_daemon.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat(bot): repopulate telemetry improvements
  config.template/grafana-alloy/dashboards/gateway-projection-dashboard.json
  services/bot/bot.py
  services/bot/guild_projection.py
  shared/telemetry.py
  tests/unit/bot/test_bot_member_event_worker.py
  tests/unit/shared/test_telemetry.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: show Cancel Game button for bot managers and maintainers
  frontend/src/pages/GameDetails.tsx
  frontend/src/pages/__tests__/GameDetails.test.tsx
Due: add-copyright, eslint, prettier, typescript, frontend-build, vitest-coverage

fix: replace assert True with REST API assert_not_called() in guild_sync tests
  tests/unit/services/bot/test_guild_sync.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

chore: remove research, plan, details, and prompt files for test-quality gate
  .copilot-tracking/planning/details/20260426-02-test-quality-precommit-gate-details.md
  .copilot-tracking/planning/plans/20260426-02-test-quality-precommit-gate.plan.md
  .copilot-tracking/planning/prompts/implement-test-quality-precommit-gate.prompt.md
  .copilot-tracking/research/20260422-02-test-quality-precommit-gate-research.md
Due: none

fix(bot): debounce member repopulation by sleeping before clear
  services/bot/bot.py
  tests/unit/bot/test_bot_member_event_worker.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

refactor(tests): replace generic predates-reason annotations with specific reasons
  tests/unit/services/bot/events/test_handlers_join_notification.py
  tests/unit/services/bot/formatters/test_game_message.py
  tests/unit/services/init/test_main_roles_only.py
  tests/unit/services/retry/test_retry_daemon_unit.py
  tests/unit/services/scheduler/test_generic_scheduler_daemon.py
  tests/unit/shared/cache/test_cache_client.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: strengthen weak assertions in batch 11 (20 violations, 6 files)
  tests/integration/test_button_handler.py
  tests/unit/bot/handlers/test_participant_drop_handler.py
  tests/unit/services/api/services/test_games_service.py
  tests/unit/services/retry/test_retry_daemon_unit.py
  tests/unit/services/scheduler/test_scheduler_daemon_wrapper.py
  tests/unit/shared/data_access/test_guild_queries_unit.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: promote check-test-assertions hook from diff-only to full scan
  .pre-commit-config.yaml
Due: none
