Repository game-scheduler/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

add-copyright:
  name: Add copyright headers
  entry: bash scripts/add-copyright
  language: system
  pass_filenames: false

ruff-check:
  name: ruff lint
  entry: uv run ruff check --fix
  language: system
  require_serial: true

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system
  require_serial: true

mypy:
  name: mypy type check
  entry: uv run mypy
  language: system
  pass_filenames: false
  args:
  - shared/
  - services/

python-compile:
  name: Python compilation check
  entry: uv run python -m compileall -q
  language: system
  pass_filenames: false

pytest-coverage:
  name: Python unit tests with coverage
  entry: bash -c 'output=$(uv run pytest --cov --cov-report=xml --cov-report= --strict-markers -W error::UserWarning -qq 2>&1) && exit 0 || { echo "$output"; exit 1; }'
  language: system
  pass_filenames: false
  verbose: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

prettier:
  name: Prettier format
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-build:
  name: Frontend build check
  entry: bash -c 'cd frontend && npm run build'
  language: system
  pass_filenames: false

vitest-coverage:
  name: Frontend unit tests with coverage
  ...

fix: address PR #2 review comments
  .github/workflows/ci-cd.yml
  scripts/check_commit_duplicates.py
  scripts/check_lint_suppressions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile

feat: consolidate CI pipeline into build-test-publish job
  .github/workflows/ci-cd.yml
Due: none

chore: add CI/CD pipeline research and planning files
  .copilot-tracking/planning/details/20260329-01-github-actions-ci-cd-details.md
  .copilot-tracking/planning/plans/20260329-01-github-actions-ci-cd.plan.md
  .copilot-tracking/planning/prompts/implement-github-actions-ci-cd.prompt.md
  .copilot-tracking/research/20260329-01-github-actions-ci-cd-research.md
Due: none

fix: add integration test env file and correct test environment issues
  compose.yaml
  scripts/run-integration-tests.sh
  tests/integration/env.int
  tests/integration/test_template_creation.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: address PR review comments on CI workflow and docs
  .github/workflows/ci-cd.yml
  docs/developer/ci-cd.md
  tests/integration/env.int
Due: none

feat: replace ci-cd.yml with complete pre-commit-parity pipeline
  .copilot-tracking/planning/changes/20260329-01-github-actions-ci-cd-changes.md
  .copilot-tracking/planning/plans/20260329-01-github-actions-ci-cd.plan.md
  .github/workflows/ci-cd.yml
  docs/developer/ci-cd.md
Due: none

chore: remove dead DISCORD_CLIENT_ID variable
  compose.override.yaml
  compose.yaml
  docker/frontend.Dockerfile
  docs/deployment/quickstart.md
  docs/developer/SETUP.md
  docs/developer/TESTING.md
  frontend/README.md
  frontend/src/vite-env.d.ts
Due: add-copyright, eslint, prettier, typescript, frontend-build, vitest-coverage

fix: build bot and frontend images before publishing
  .github/workflows/ci-cd.yml
Due: none

chore: rename CI job IDs to reflect language/stack
  .github/workflows/ci-cd.yml
Due: none

chore: mount host shell startup files into dev container
  .devcontainer/devcontainer.json
Due: none

test(phase8): add e2e embed deletion tests and fix two flaky integration tests
  .copilot-tracking/planning/changes/20260408-01-embed-deletion-sweep-hardening-changes.md
  .copilot-tracking/planning/plans/20260408-01-embed-deletion-sweep-hardening.plan.md
  tests/e2e/helpers/discord.py
  tests/e2e/test_embed_deletion.py
  tests/integration/test_participant_action_schedule_migration.py
  tests/integration/test_rewards_fields.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

plan: embed deletion detection and auto-cancellation
  .copilot-tracking/planning/details/20260402-01-embed-deletion-detection-details.md
  .copilot-tracking/planning/plans/20260402-01-embed-deletion-detection.plan.md
  .copilot-tracking/planning/prompts/implement-embed-deletion-detection.prompt.md
  .copilot-tracking/research/20260402-01-embed-deletion-detection-research.md
Due: none

feat(bot): add _trigger_sweep with cancel-and-restart concurrency guard
  .copilot-tracking/planning/changes/20260408-01-embed-deletion-sweep-hardening-changes.md
  .copilot-tracking/planning/plans/20260408-01-embed-deletion-sweep-hardening.plan.md
  services/bot/bot.py
  tests/unit/bot/test_trigger_sweep.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat(bot): add OTel metrics to embed deletion sweep
  services/bot/bot.py
  tests/unit/bot/test_sweep_metrics.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

plan: embed deletion sweep hardening and test coverage
  .copilot-tracking/planning/details/20260408-01-embed-deletion-sweep-hardening-details.md
  .copilot-tracking/planning/plans/20260408-01-embed-deletion-sweep-hardening.plan.md
  .copilot-tracking/planning/prompts/implement-embed-deletion-sweep-hardening.prompt.md
  .copilot-tracking/research/20260408-01-embed-deletion-sweep-hardening-research.md
Due: none

feat(phase7): integration test for EmbedDeletionConsumer + sweep channel fix
  .copilot-tracking/planning/changes/20260408-01-embed-deletion-sweep-hardening-changes.md
  .copilot-tracking/planning/plans/20260408-01-embed-deletion-sweep-hardening.plan.md
  services/bot/bot.py
  tests/integration/test_embed_deletion_consumer.py
  tests/unit/bot/test_sweep_metrics.py
  tests/unit/services/bot/test_bot.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: embed deletion detection phase 1 foundation
  .copilot-tracking/changes/20260402-01-embed-deletion-detection-changes.md
  .copilot-tracking/planning/plans/20260402-01-embed-deletion-detection.plan.md
  shared/cache/client.py
  shared/discord/client.py
  shared/messaging/events.py
  tests/unit/shared/cache/test_claim_global_and_channel_slot.py
  tests/unit/shared/discord/test_discord_api_client.py
  tests/unit/shared/messaging/test_events.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: change EMBED_DELETED routing key to embed.deleted
  services/api/services/embed_deletion_consumer.py
  shared/messaging/events.py
  tests/unit/services/bot/events/test_publisher.py
  tests/unit/shared/messaging/test_events.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add test HTTP server for e2e sweep triggering (Phases 5-6)
  .copilot-tracking/planning/changes/20260408-01-embed-deletion-sweep-hardening-changes.md
  .copilot-tracking/planning/plans/20260408-01-embed-deletion-sweep-hardening.plan.md
  .copilot-tracking/research/20260408-01-embed-deletion-sweep-hardening-research.md
  services/bot/bot.py
  tests/unit/bot/test_test_server.py
  tests/unit/services/bot/test_bot.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

chore: remove completed embed-deletion-sweep-hardening tracking files
  .copilot-tracking/planning/details/20260408-01-embed-deletion-sweep-hardening-details.md
  .copilot-tracking/planning/plans/20260408-01-embed-deletion-sweep-hardening.plan.md
  .copilot-tracking/planning/prompts/implement-embed-deletion-sweep-hardening.prompt.md
  .copilot-tracking/research/20260408-01-embed-deletion-sweep-hardening-research.md
Due: none

fix: fail closed with jitter when Redis is unavailable during rate-limit checks
  shared/cache/client.py
  tests/unit/shared/cache/test_claim_channel_rate_limit_slot.py
  tests/unit/shared/cache/test_claim_global_and_channel_slot.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: exclude terminal-status games from embed deletion sweep
  services/bot/bot.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

docs: add research notes for Gateway-Driven Cache Enhancement task
  .copilot-tracking/planning/details/20260411-01-gateway-cache-enhancement-details.md
  .copilot-tracking/planning/plans/20260411-01-gateway-cache-enhancement.plan.md
  .copilot-tracking/planning/prompts/implement-gateway-cache-enhancement.prompt.md
  .copilot-tracking/research/20260410-01-gateway-cache-enhancement-research.md
Due: none

feat: rebuild Redis from gateway cache on on_ready
  .copilot-tracking/planning/changes/20260411-01-gateway-cache-enhancement-changes.md
  .copilot-tracking/planning/plans/20260411-01-gateway-cache-enhancement.plan.md
  services/bot/bot.py
  shared/cache/ttl.py
  tests/unit/bot/test_bot_ready.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

refactor: replace fetch_guild() with get_guild() in role_checker.py
  .copilot-tracking/planning/changes/20260411-01-gateway-cache-enhancement-changes.md
  .copilot-tracking/planning/plans/20260411-01-gateway-cache-enhancement.plan.md
  services/bot/auth/role_checker.py
  tests/unit/services/bot/auth/test_role_checker.py
  tests/unit/services/bot/test_bot.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add gateway event handlers for channel and role cache invalidation
  .copilot-tracking/planning/changes/20260411-01-gateway-cache-enhancement-changes.md
  .copilot-tracking/planning/plans/20260411-01-gateway-cache-enhancement.plan.md
  services/bot/bot.py
  tests/unit/bot/test_bot_events.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

plan: add Phase 7 e2e gateway cache population tests
  .copilot-tracking/planning/details/20260411-01-gateway-cache-enhancement-details.md
  .copilot-tracking/planning/plans/20260411-01-gateway-cache-enhancement.plan.md
  .copilot-tracking/research/20260410-01-gateway-cache-enhancement-research.md
Due: none

fix: skip ARCHIVED games in embed deletion consumer
  services/api/services/embed_deletion_consumer.py
  tests/unit/services/api/services/test_embed_deletion_consumer.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add Grafana dashboard for cache metrics
  config.template/grafana-alloy/dashboards/cache-metrics-dashboard.json
Due: none

fix: update auth integration tests for JSON-encoded oauth state
  tests/integration/test_auth_routes.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add _get_or_fetch helper and discord.cache.* OTel metrics
  .copilot-tracking/changes/20260411-02-cache-metrics-and-wrappers-changes.md
  .copilot-tracking/planning/plans/20260411-02-cache-metrics-and-wrappers.plan.md
  shared/discord/client.py
  tests/unit/shared/discord/test_discord_api_client.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: replace existence-lookup reads with cache_get (Phase 4)
  .copilot-tracking/changes/20260411-02-cache-metrics-and-wrappers-changes.md
  .copilot-tracking/planning/plans/20260411-02-cache-metrics-and-wrappers.plan.md
  services/api/auth/oauth2.py
  services/api/auth/roles.py
  services/api/auth/tokens.py
  services/api/services/display_names.py
  services/bot/auth/cache.py
  tests/unit/services/api/auth/test_oauth2.py
  tests/unit/services/api/auth/test_roles.py
  tests/unit/services/api/auth/test_tokens.py
  tests/unit/services/api/services/test_avatar_resolver.py
  tests/unit/services/api/services/test_display_names.py
  tests/unit/services/bot/auth/test_cache.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

plan: cache metrics and read-through wrapper consolidation
  .copilot-tracking/planning/details/20260411-02-cache-metrics-and-wrappers-details.md
  .copilot-tracking/planning/plans/20260411-02-cache-metrics-and-wrappers.plan.md
  .copilot-tracking/planning/prompts/implement-cache-metrics-and-wrappers.prompt.md
  .copilot-tracking/research/20260411-02-cache-metrics-and-wrappers-research.md
Due: none

refactor: replace copy-pasted read-through blocks with _get_or_fetch
  .copilot-tracking/planning/plans/20260411-02-cache-metrics-and-wrappers.plan.md
  shared/discord/client.py
  tests/unit/shared/discord/test_discord_api_client.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

chore: cache pre-commit environments in worktree-parent .cache/pre-commit
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

chore: remove completed github-actions-ci-cd tracking files
  .copilot-tracking/changes/TASK_3.4_CACHE_VERIFICATION_GUIDE.md
  .copilot-tracking/planning/details/20260329-01-github-actions-ci-cd-details.md
  .copilot-tracking/planning/plans/20260329-01-github-actions-ci-cd.plan.md
  .copilot-tracking/planning/prompts/implement-github-actions-ci-cd.prompt.md
  .copilot-tracking/research/20260329-01-github-actions-ci-cd-research.md
Due: none

chore: remove stale opentelemetry-observability tracking files
  .copilot-tracking/planning/details/20251206-opentelemetry-observability-details.md
  .copilot-tracking/planning/plans/20251206-opentelemetry-observability.plan.md
  .copilot-tracking/planning/prompts/implement-opentelemetry-observability.prompt.md
  .copilot-tracking/research/20251206-opentelemetry-compatibility-research.md
Due: none

feat: add BackupMetadata model and migration
  .copilot-tracking/planning/changes/20260408-01-backup-restore-changes.md
  .copilot-tracking/planning/plans/20260408-01-backup-restore.plan.md
  alembic/versions/20260412_add_backup_metadata.py
  shared/models/backup_metadata.py
  tests/unit/shared/models/test_backup_metadata.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add backup Dockerfile and scripts
  .copilot-tracking/planning/changes/20260408-01-backup-restore-changes.md
  .copilot-tracking/planning/plans/20260408-01-backup-restore.plan.md
  docker/backup-entrypoint.sh
  docker/backup-script.sh
  docker/backup.Dockerfile
Due: none

feat: add backup and restore compose configuration (phase 4)
  .copilot-tracking/planning/plans/20260408-01-backup-restore.plan.md
  compose.restore.yaml
  compose.yaml
  config.template/env.template
Due: none

Path conditions:
  add-copyright: any of: \.(py|ts|tsx)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  python-compile: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
