Repository game-scheduler/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, eslint, prettier, typescript

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$

docs: enhance code verification to catch missing test coverage
  .github/prompts/verify-coding-standards.prompt.md
Due: none

feat: Add clickable calendar download URL to Discord game embeds
  .copilot-tracking/changes/20251218-discord-calendar-download-changes.md
  .copilot-tracking/plans/20251218-discord-calendar-download-plan.instructions.md
  services/bot/config.py
  services/bot/formatters/game_message.py
  tests/services/bot/formatters/test_game_message.py
Due: ruff-check, ruff-format, mypy

Add shared Discord API client with comprehensive tests
  .copilot-tracking/changes/20251220-discord-client-consolidation-changes.md
  .copilot-tracking/plans/20251220-discord-client-consolidation-plan.instructions.md
  shared/discord/__init__.py
  shared/discord/client.py
  tests/shared/discord/__init__.py
  tests/shared/discord/test_client.py
Due: ruff-check, ruff-format, mypy

feat: add descriptive filename generation to calendar export
  .copilot-tracking/changes/20251218-discord-calendar-download-changes.md
  .copilot-tracking/plans/20251218-discord-calendar-download-plan.instructions.md
  services/api/routes/export.py
  tests/services/api/routes/test_export.py
Due: ruff-check, ruff-format, mypy

chore: remove archived migration files from repository
  .copilot-tracking/changes/20251215-dependency-version-audit-changes.md
  .copilot-tracking/plans/20251215-dependency-version-audit-plan.instructions.md
  history/alembic_backup_20251216/001_initial_schema.py
  history/alembic_backup_20251216/002_add_unique_game_participant.py
  history/alembic_backup_20251216/003_remove_host_participant.py
  history/alembic_backup_20251216/004_add_min_players_field.py
  history/alembic_backup_20251216/005_add_description_signup_instructions.py
  history/alembic_backup_20251216/006_add_bot_manager_roles.py
  history/alembic_backup_20251216/007_add_notify_roles.py
  history/alembic_backup_20251216/008_remove_rules_field.py
  history/alembic_backup_20251216/009_add_pre_filled_position.py
  history/alembic_backup_20251216/010_remove_status_field.py
  history/alembic_backup_20251216/011_add_expected_duration_minutes.py
  history/alembic_backup_20251216/012_add_notification_schedule.py
  history/alembic_backup_20251216/013_change_notification_schedule_id_to_string.py
  history/alembic_backup_20251216/014_add_where_field.py
  history/alembic_backup_20251216/015_remove_min_players_field.py
  history/alembic_backup_20251216/016_remove_guild_name_column.py
  history/alembic_backup_20251216/017_remove_channel_name.py
  history/alembic_backup_20251216/018_remove_inheritance_fields.py
  history/alembic_backup_20251216/019_add_template_system.py
  history/alembic_backup_20251216/020_add_game_status_schedule.py
  history/alembic_backup_20251216/021_add_game_scheduled_at_to_notification_schedule.py
  history/alembic_backup_20251216/022_add_completed_schedules.py
  history/alembic_backup_20251216/14d77a523f0a_remove_is_pre_populated_field_from_game_.py
  history/alembic_backup_20251216/9eb33bf3186b_change_timestamps_to_timezone_naive.py
Due: ruff-check, ruff-format, mypy

feat: Discord API integration for calendar display names
  .copilot-tracking/changes/20251218-discord-calendar-download-changes.md
  .copilot-tracking/plans/20251218-discord-calendar-download-plan.instructions.md
  .copilot-tracking/prompts/implement-discord-calendar-download.prompt.md
  .copilot-tracking/testing/20251218-phase4-authentication-flow-test.md
  .copilot-tracking/testing/20251218-phase4-calendar-compatibility-test.md
  compose.yaml
  frontend/src/components/ExportButton.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/pages/AuthCallback.tsx
  frontend/src/pages/DownloadCalendar.tsx
  frontend/src/pages/GameDetails.tsx
  services/api/auth/discord_client.py
  services/api/routes/export.py
  services/api/services/calendar_export.py
  services/bot/formatters/game_message.py
  tests/services/api/services/test_calendar_export.py
Due: ruff-check, ruff-format, mypy, eslint, prettier, typescript

chore: install Prettier globally in dev container
  .devcontainer/devcontainer.json
Due: none

feat: Phase 4 - NPM package updates (axios, TypeScript, Vite 7)
  .copilot-tracking/changes/20251215-dependency-version-audit-changes.md
  .copilot-tracking/plans/20251215-dependency-version-audit-plan.instructions.md
  .copilot-tracking/prompts/implement-dependency-version-audit.prompt.md
  frontend/package-lock.json
  frontend/package.json
Due: prettier

Phase 3: Discord API client consolidation with caching
  .copilot-tracking/changes/20251220-discord-client-consolidation-changes.md
  .copilot-tracking/plans/20251220-discord-client-consolidation-plan.instructions.md
  .copilot-tracking/remediation-summary-20251220-discord-permission-checking.md
  services/bot/auth/role_checker.py
  services/bot/dependencies/__init__.py
  services/bot/dependencies/discord_client.py
  services/bot/events/handlers.py
  services/bot/utils/discord_format.py
  tests/services/bot/events/test_handlers.py
Due: ruff-check, ruff-format, mypy

Phase 3: Python dependency modernization
  .copilot-tracking/changes/20251215-dependency-version-audit-changes.md
  .copilot-tracking/plans/20251215-dependency-version-audit-plan.instructions.md
  pyproject.toml
  services/api/auth/oauth2.py
  services/api/middleware/error_handler.py
  services/api/services/participant_resolver.py
  services/bot/bot.py
  shared/messaging/events.py
  tests/services/api/auth/test_oauth2.py
  tests/shared/messaging/test_events.py
  uv.lock
Due: ruff-check, ruff-format, mypy

Fix MultipleResultsFound error when cancelling games
  services/api/services/games.py
Due: ruff-check, ruff-format, mypy

feat(bot): Add host avatar display to Discord game embeds
  .copilot-tracking/changes/20251219-game-card-host-avatar-display-changes.md
  .copilot-tracking/plans/20251219-game-card-host-avatar-display-plan.instructions.md
  services/bot/events/handlers.py
  services/bot/formatters/game_message.py
  services/bot/utils/discord_format.py
  shared/database.py
  tests/services/bot/formatters/test_game_message.py
Due: ruff-check, ruff-format, mypy

feat: Add Discord avatar display to GameCard and bot embeds
  .copilot-tracking/changes/20251219-game-card-host-avatar-display-changes.md
  .copilot-tracking/changes/TASK_3.4_CACHE_VERIFICATION_GUIDE.md
  services/api/services/display_names.py
  services/bot/events/handlers.py
  services/bot/formatters/game_message.py
  tests/integration/test_avatar_integration.py
  tests/services/bot/formatters/test_game_message.py
Due: ruff-check, ruff-format, mypy

Add host avatar display to GameCard component
  .copilot-tracking/changes/20251219-game-card-host-avatar-display-changes.md
  .copilot-tracking/plans/20251219-game-card-host-avatar-display-plan.instructions.md
  frontend/src/components/GameCard.tsx
  frontend/src/components/__tests__/GameCard.test.tsx
  frontend/src/types/index.ts
Due: eslint, prettier, typescript

feat: Add Discord calendar download page (Phase 1)
  .copilot-tracking/changes/20251218-discord-calendar-download-changes.md
  .copilot-tracking/plans/20251218-discord-calendar-download-plan.instructions.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/pages/DownloadCalendar.tsx
  frontend/src/pages/__tests__/DownloadCalendar.test.tsx
Due: eslint, prettier, typescript

Research and Plan: Discord calendar download via clickable embed title
  .copilot-tracking/details/20251218-discord-calendar-download-details.md
  .copilot-tracking/plans/20251218-discord-calendar-download-plan.instructions.md
  .copilot-tracking/prompts/implement-discord-calendar-download.prompt.md
  .copilot-tracking/research/20251218-discord-calendar-download-research.md
Due: none

Phase 2: Upgrade to Node.js 24 LTS
  .devcontainer/devcontainer.json
  .github/workflows/ci-cd.yml
  docker/frontend.Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: prettier

Fix bot avatar fallback for default avatars
  .copilot-tracking/changes/20251220-discord-client-consolidation-changes.md
  services/bot/utils/discord_format.py
Due: ruff-check, ruff-format, mypy

Add planning documentation for delayed join notification with signup instructions
  .copilot-tracking/details/20251218-signup-instructions-dm-details.md
  .copilot-tracking/plans/20251218-signup-instructions-dm-plan.instructions.md
  .copilot-tracking/plans/20251220-game-card-ui-consolidation-plan.instructions.md
  .copilot-tracking/prompts/implement-signup-instructions-dm.prompt.md
  .copilot-tracking/research/20251218-signup-instructions-dm-research.md
Due: none

Refactor: extract datetime formatting and fix unit test mocking
  services/api/routes/games.py
  shared/utils/datetime_utils.py
  tests/services/api/routes/test_games_participant_count.py
  tests/services/api/routes/test_games_timezone.py
  tests/shared/utils/test_datetime_utils.py
Due: ruff-check, ruff-format, mypy

Consolidate Discord game embed fields for cleaner layout
  .copilot-tracking/changes/20251220-game-card-ui-consolidation-changes.md
  .copilot-tracking/plans/20251220-game-card-ui-consolidation-plan.instructions.md
  .copilot-tracking/prompts/implement-game-card-ui-consolidation.prompt.md
  services/bot/formatters/game_message.py
  tests/services/bot/formatters/test_game_message.py
Due: ruff-check, ruff-format, mypy

Add game image display and testing (Phase 8)
  .copilot-tracking/changes/20251218-game-image-attachments-changes.md
  .copilot-tracking/plans/20251218-game-image-attachments-plan.instructions.md
  .copilot-tracking/prompts/implement-game-image-attachments.prompt.md
  frontend/src/pages/GameDetails.tsx
  services/api/routes/games.py
  services/bot/config.py
  services/bot/events/handlers.py
  services/bot/formatters/game_message.py
  shared/schemas/game.py
  tests/services/bot/formatters/test_game_message.py
  tests/shared/models/test_game_session.py
Due: ruff-check, ruff-format, mypy, eslint, prettier, typescript

Add notification_type and participant_id to notification_schedule
  .copilot-tracking/changes/20251218-signup-instructions-dm-changes.md
  .copilot-tracking/plans/20251218-signup-instructions-dm-plan.instructions.md
  alembic/versions/bcecd82ff82f_add_notification_type_participant_id.py
  services/api/routes/games.py
  shared/models/notification_schedule.py
  tests/integration/test_database_infrastructure.py
Due: ruff-check, ruff-format, mypy

Add Phase 2: API image upload endpoints with validation
  .copilot-tracking/changes/20251218-game-image-attachments-changes.md
  .copilot-tracking/plans/20251218-game-image-attachments-plan.instructions.md
  alembic/versions/3aeec3d09d7c_add_game_image_storage.py
  services/api/routes/games.py
  services/api/services/games.py
  shared/models/game.py
  tests/integration/test_database_infrastructure.py
  tests/services/api/routes/test_games_image_validation.py
  tests/services/api/services/test_games_image_upload.py
Due: ruff-check, ruff-format, mypy

Add Cloudflare Tunnel support for local development
  compose.override.yaml
  compose.yaml
  docs/CLOUDFLARE_TUNNEL_SETUP.md
Due: none

Implement image serving endpoints and frontend upload UI
  .copilot-tracking/changes/20251218-game-image-attachments-changes.md
  .copilot-tracking/plans/20251218-game-image-attachments-plan.instructions.md
  frontend/src/components/GameForm.tsx
  frontend/src/pages/CreateGame.tsx
  frontend/src/pages/EditGame.tsx
  frontend/src/pages/__tests__/EditGame.test.tsx
  frontend/src/types/index.ts
  services/api/routes/games.py
  tests/services/api/routes/test_games_image_serving.py
Due: ruff-check, ruff-format, mypy, eslint, prettier, typescript

Add planning docs for game card UI consolidation
  .copilot-tracking/details/20251220-game-card-ui-consolidation-details.md
  .copilot-tracking/plans/20251220-game-card-ui-consolidation-plan.instructions.md
  .copilot-tracking/prompts/implement-game-card-ui-consolidation.prompt.md
  .copilot-tracking/research/20251220-game-card-ui-consolidation-research.md
Due: none

Add E2E test strategy planning files
  .copilot-tracking/details/20251222-e2e-test-strategy-details.md
  .copilot-tracking/plans/20251222-e2e-test-strategy-plan.instructions.md
  .copilot-tracking/prompts/implement-e2e-test-strategy.prompt.md
  .copilot-tracking/research/20251222-e2e-test-strategy-research.md
Due: none

Unify Discord API client token handling for bot and OAuth
  .copilot-tracking/changes/20251222-discord-client-token-unification-changes.md
  .copilot-tracking/plans/20251222-discord-client-token-unification-plan.instructions.md
  .copilot-tracking/prompts/implement-discord-client-token-unification.prompt.md
  services/api/auth/oauth2.py
  services/api/auth/roles.py
  services/api/services/guild_service.py
  shared/discord/client.py
  tests/services/api/auth/test_oauth2.py
  tests/services/api/auth/test_roles.py
  tests/shared/discord/test_client.py
Due: ruff-check, ruff-format, mypy

test: Update E2E test helpers for plain text DM format
  tests/e2e/conftest.py
  tests/e2e/helpers/discord.py
Due: ruff-check, ruff-format, mypy

test: Add E2E test for Discord DM basic functionality
  tests/e2e/test_dm_retrieval.py
Due: ruff-check, ruff-format, mypy

test: Add E2E test for user join notification DM with signup instructions
  tests/e2e/test_user_join.py
Due: ruff-check, ruff-format, mypy

Document microservice communication architecture and E2E test coverage gaps
  .copilot-tracking/details/20251222-e2e-test-strategy-details.md
  .copilot-tracking/plans/20251222-e2e-test-strategy-plan.instructions.md
  .copilot-tracking/research/20251222-e2e-test-strategy-research.md
  .copilot-tracking/research/20251224-microservice-communication-architecture.md
Due: none

Add E2E test for game status transitions
  .copilot-tracking/changes/20251222-e2e-test-strategy-changes.md
  .copilot-tracking/plans/20251222-e2e-test-strategy-plan.instructions.md
  services/bot/formatters/game_message.py
  shared/models/game.py
  tests/e2e/test_game_status_transitions.py
Due: ruff-check, ruff-format, mypy

Update commit validation workflow
  .github/prompts/commit.prompt.md
  .github/prompts/verify-code.prompt.md
Due: none

Add game cancellation Discord message handling
  .copilot-tracking/changes/20251222-e2e-test-strategy-changes.md
  .copilot-tracking/plans/20251222-e2e-test-strategy-plan.instructions.md
  services/api/services/games.py
  services/bot/events/handlers.py
  tests/e2e/test_game_cancellation.py
  tests/services/api/services/test_games.py
  tests/services/api/services/test_games_image_upload.py
  tests/services/bot/events/test_handlers.py
Due: ruff-check, ruff-format, mypy

Add compilation checks to pre-commit hooks
  .pre-commit-config.yaml
Due: none

refactor: migrate bot event handlers to use partition_participants utility (Phase 3)
  .copilot-tracking/changes/20251224-promotion-detection-placeholder-bug-changes.md
  .copilot-tracking/plans/20251224-promotion-detection-placeholder-bug-plan.instructions.md
  services/bot/events/handlers.py
  tests/services/bot/events/test_handlers.py
Due: ruff-check, ruff-format, mypy

Add planning docs for participant ordering schema refactor
  .copilot-tracking/details/20251224-participant-ordering-schema-refactor-details.md
  .copilot-tracking/plans/20251224-participant-ordering-schema-refactor-plan.instructions.md
  .copilot-tracking/prompts/implement-participant-ordering-schema-refactor.prompt.md
  .copilot-tracking/research/20251224-participant-ordering-schema-refactor-research.md
Due: none

docs: enhance coding best practices with magic numbers rule
  .github/instructions/coding-best-practices.instructions.md
Due: none
