Repository game-scheduler/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

Path conditions:
  add-copyright: any of: \.(py|ts|tsx)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  python-compile: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$

Migrate guild sync E2E tests to hermetic fixture pattern
  tests/e2e/test_guild_sync_e2e.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

Add MIT license migration research and plans
  .copilot-tracking/details/20260204-mit-license-migration-details.md
  .copilot-tracking/plans/20260204-mit-license-migration-plan.instructions.md
  .copilot-tracking/prompts/implement-mit-license-migration.prompt.md
  .copilot-tracking/research/20260204-mit-license-migration-research.md
Due: none

feat: add _sync_guild_channels helper for channel synchronization
  .copilot-tracking/changes/20260205-channel-sync-via-guild-sync-button-changes.md
  .copilot-tracking/plans/20260205-channel-sync-via-guild-sync-button-plan.instructions.md
  services/api/services/guild_service.py
  tests/services/api/services/test_guild_service.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

Complete Phase 2: GameForm validation integration
  .copilot-tracking/changes/20260207-01-game-form-validation-changes.md
  .copilot-tracking/plans/20260207-01-game-form-validation-plan.instructions.md
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/GameForm.validation.test.tsx
  frontend/src/components/__tests__/TemplateForm.test.tsx
  frontend/src/pages/CreateGame.tsx
  frontend/src/pages/EditGame.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
Due: add-copyright, eslint, prettier, typescript, frontend-build, vitest-coverage

Restore execute permissions on scripts
  scripts/coverage-report.sh
  scripts/data_migration_create_default_templates.py
  scripts/generate_trace_record.sh
  scripts/init_rabbitmq.py
  scripts/migrate_postgres_15_to_17.sh
  scripts/run-e2e-tests.sh
  scripts/run-integration-tests.sh
  scripts/show_trace_counts.sh
  scripts/verify_button_states.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile

Update task 4.1 to integration tests for SSE bridge
  .copilot-tracking/details/20260205-01-web-join-game-ux-details.md
  .copilot-tracking/plans/20260205-01-web-join-game-ux-plan.instructions.md
  .copilot-tracking/research/20260205-01-web-join-game-ux-research.md
Due: none

Add planning files for web join/leave UX with real-time SSE sync
  .copilot-tracking/details/20260205-01-web-join-game-ux-details.md
  .copilot-tracking/plans/20260205-01-web-join-game-ux-plan.instructions.md
  .copilot-tracking/prompts/implement-web-join-game-ux.prompt.md
  .copilot-tracking/research/20260205-01-web-join-game-ux-research.md
Due: none

Add BACKEND_URL environment variable to API service
  compose.yaml
Due: none

Integrate image storage with GameService (Phase 2)
  .copilot-tracking/changes/20260207-02-public-image-endpoints-changes.md
  .copilot-tracking/plans/20260207-02-public-image-endpoints-plan.instructions.md
  services/api/routes/games.py
  services/api/services/games.py
  services/bot/events/handlers.py
  shared/services/image_storage.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/services/api/services/test_game_image_integration.py
  tests/services/api/routes/conftest.py
  tests/services/api/routes/test_games_image_serving.py
  tests/services/api/services/test_games.py
  tests/services/api/services/test_games_image_upload.py
  tests/shared/models/test_game_session.py
  tests/unit/shared/services/test_image_storage.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

Update commit prompt and pre-commit config
  .github/prompts/commit.prompt.md
  .pre-commit-config.yaml
Due: none

Add field validation utilities with 100% coverage
  .copilot-tracking/changes/20260207-01-game-form-validation-changes.md
  .copilot-tracking/plans/20260207-01-game-form-validation-plan.instructions.md
  frontend/src/utils/__tests__/fieldValidation.test.ts
  frontend/src/utils/fieldValidation.ts
Due: add-copyright, eslint, prettier, typescript, frontend-build, vitest-coverage

Fix integration test failures
  services/api/services/sse_bridge.py
  tests/integration/test_database_infrastructure.py
  tests/integration/test_sse_bridge.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: Phase 1 - Backend channel resolver service
  .copilot-tracking/changes/20260210-01-channel-links-in-game-location-changes.md
  .copilot-tracking/plans/20260210-01-channel-links-in-game-location-plan.instructions.md
  services/api/services/channel_resolver.py
  tests/services/api/services/test_channel_resolver.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

Add planning files for channel sync via guild sync button
  .copilot-tracking/details/20260205-channel-sync-via-guild-sync-button-details.md
  .copilot-tracking/plans/20260205-channel-sync-via-guild-sync-button-plan.instructions.md
  .copilot-tracking/prompts/implement-channel-sync-via-guild-sync-button.prompt.md
  .copilot-tracking/research/20260205-channel-lazy-loading-guild-setup-research.md
Due: none

Fix git wrapper PATH configuration to enforce quality check policy
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  frontend/package-lock.json
Due: prettier, frontend-build

Add 2-digit sequence numbers to task file naming convention
  .github/chatmodes/task-planner.chatmode.md
  .github/chatmodes/task-researcher.chatmode.md
  .github/instructions/task-implementation.instructions.md
Due: none

Add integration tests and complete channel sync implementation
  .copilot-tracking/changes/20260205-channel-sync-via-guild-sync-button-changes.md
  .copilot-tracking/plans/20260205-channel-sync-via-guild-sync-button-plan.instructions.md
  .copilot-tracking/prompts/implement-channel-sync-via-guild-sync-button.prompt.md
  services/api/database/queries.py
  tests/integration/test_guild_sync_channel_operations.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

Fix staging session cookie authentication failure
  .copilot-tracking/research/20260204-staging-session-cookie-failure-research.md
  services/api/config.py
  services/api/routes/auth.py
  tests/conftest.py
  tests/services/api/test_config.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

Add per-test timeouts to pre-commit test hooks
  .copilot-tracking/changes/20260207-01-game-form-validation-changes.md
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

Add GameForm field validation with comprehensive tests
  .copilot-tracking/changes/20260207-01-game-form-validation-changes.md
  .copilot-tracking/plans/20260207-01-game-form-validation-plan.instructions.md
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/GameForm.validation.test.tsx
  frontend/src/contexts/AuthContext.tsx
Due: add-copyright, eslint, prettier, typescript, frontend-build, vitest-coverage

Add git wrapper to enforce quality check override policy
  .copilot-tracking/research/20260209-01-git-wrapper-enforcement-research.md
  .devcontainer/Dockerfile
  docs/developer/SETUP.md
  scripts/wrappers/git
Due: none

Integrate ReminderSelector into GameForm (Phase 1)
  .copilot-tracking/changes/20260208-01-reminder-time-selector-changes.md
  .copilot-tracking/plans/20260208-01-reminder-time-selector-plan.instructions.md
  frontend/src/components/GameForm.tsx
  frontend/src/components/ReminderSelector.tsx
  frontend/src/components/__tests__/GameForm.error-handling.test.tsx
  frontend/src/components/__tests__/GameForm.test.tsx
  frontend/src/components/__tests__/GameForm.validation.test.tsx
  frontend/src/pages/__tests__/EditGame.test.tsx
Due: add-copyright, eslint, prettier, typescript, frontend-build, vitest-coverage

feat: implement Phase 1 - Backend SSE Infrastructure for real-time game updates
  .copilot-tracking/changes/20260205-01-web-join-game-ux-changes.md
  .copilot-tracking/plans/20260205-01-web-join-game-ux-plan.instructions.md
  services/api/app.py
  services/api/routes/sse.py
  services/api/services/sse_bridge.py
  tests/services/api/routes/test_sse.py
  tests/services/api/services/test_sse_bridge.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

Complete TemplateForm ReminderSelector integration (Phase 2)
  .copilot-tracking/changes/20260208-01-reminder-time-selector-changes.md
  .copilot-tracking/plans/20260208-01-reminder-time-selector-plan.instructions.md
  frontend/src/components/TemplateForm.tsx
  frontend/src/components/__tests__/TemplateForm.test.tsx
  frontend/src/components/__tests__/TemplateForm.validation.test.tsx
Due: add-copyright, eslint, prettier, typescript, frontend-build, vitest-coverage

Add research and planning files for game form validation
  .copilot-tracking/details/20260207-01-game-form-validation-details.md
  .copilot-tracking/plans/20260207-01-game-form-validation-plan.instructions.md
  .copilot-tracking/prompts/implement-game-form-validation.prompt.md
  .copilot-tracking/research/20260207-01-game-form-validation-research.md
Due: none

feat(frontend): add channel sync UI support
  .copilot-tracking/changes/20260205-channel-sync-via-guild-sync-button-changes.md
  .copilot-tracking/plans/20260205-channel-sync-via-guild-sync-button-plan.instructions.md
  frontend/src/api/guilds.ts
  frontend/src/pages/GuildListPage.tsx
  frontend/src/pages/__tests__/GuildListPage.test.tsx
Due: add-copyright, eslint, prettier, typescript, frontend-build, vitest-coverage

Add instruction file requiring approval for quality check overrides
  .github/instructions/quality-check-overrides.instructions.md
Due: none

Configure Cloudflare tunnel routing with pinned cloudflared version
  compose.yaml
  frontend/vite.config.ts
Due: add-copyright, eslint, prettier, typescript, frontend-build

Add COMPOSE_PROJECT_NAME to environment template
  config.template/env.template
Due: none

feat(frontend): complete Phase 3 TemplateForm validation integration
  .copilot-tracking/changes/20260207-01-game-form-validation-changes.md
  .copilot-tracking/plans/20260207-01-game-form-validation-plan.instructions.md
  frontend/src/components/TemplateForm.tsx
  frontend/src/components/__tests__/TemplateForm.validation.test.tsx
  frontend/src/constants/ui.ts
Due: add-copyright, eslint, prettier, typescript, frontend-build, vitest-coverage

test(e2e): add comprehensive game image display regression tests
  compose.e2e.yaml
  scripts/run-e2e-tests.sh
  tests/e2e/conftest.py
  tests/e2e/helpers/discord.py
  tests/e2e/test_game_image_display.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

Refactor rate limit configuration to structured env vars
  .copilot-tracking/plans/20260207-02-public-image-endpoints-plan.instructions.md
  compose.int.yaml
  compose.yaml
  config.template/env.template
  pyproject.toml
  services/api/app.py
  services/api/config.py
  services/api/routes/public.py
  services/api/routes/public.py.orig
  tests/integration/conftest.py
  tests/integration/services/api/routes/test_public_images.py
  tests/unit/services/api/routes/test_public.py
  uv.lock
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

Migrate autocopyright to official Argmaster repository
  .copilot-tracking/changes/20260204-autocopyright-official-repository-migration-changes.md
  .copilot-tracking/plans/20260204-autocopyright-official-repository-migration-plan.instructions.md
  .copilot-tracking/prompts/implement-autocopyright-official-repository-migration.prompt.md
  .pre-commit-config.yaml
  scripts/add-copyright
Due: none

Add copyright header management instructions
  .github/instructions/copyright-headers.instructions.md
Due: none

Fix @@everyone rendering bug in Discord notifications
  frontend/src/components/TemplateForm.tsx
  services/bot/events/handlers.py
  services/bot/formatters/game_message.py
  services/scheduler/generic_scheduler_daemon.py
  tests/services/bot/events/test_handlers.py
  tests/services/bot/formatters/test_game_message.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

Automatic prompt updates after VSCode update
  .github/prompts/commit.prompt.md
  .github/prompts/plan.prompt.md
  .github/prompts/research.prompt.md
  .github/prompts/verify-code.prompt.md
Due: none

feat: Add Discord channel links in game location field
  .copilot-tracking/changes/20260210-01-channel-links-in-game-location-changes.md
  .copilot-tracking/plans/20260210-01-channel-links-in-game-location-plan.instructions.md
  .copilot-tracking/prompts/implement-channel-links-in-game-location.prompt.md
  tests/e2e/test_channel_mentions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add Discord webhook dependencies and configuration
  .copilot-tracking/changes/20260214-01-discord-webhook-events-automatic-sync-changes.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
  config.template/env.template
  pyproject.toml
  services/api/config.py
  uv.lock
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat(bot): add GUILD_SYNC_REQUESTED event and webhook handler
  .copilot-tracking/changes/20260214-01-discord-webhook-events-automatic-sync-changes.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
  services/bot/events/handlers.py
  shared/messaging/events.py
  tests/services/bot/events/test_handlers.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

Move guild sync logic from API to bot service
  .copilot-tracking/changes/20260214-01-discord-webhook-events-automatic-sync-changes.md
  .copilot-tracking/plans/20260214-01-discord-webhook-events-automatic-sync.plan.md
  services/api/app.py
  services/api/routes/guilds.py
  services/api/services/guild_service.py
  services/bot/guild_sync.py
  tests/services/api/services/test_guild_service.py
  tests/services/api/test_app.py
  tests/services/bot/test_guild_sync.py
  tests/services/bot/test_main.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage
