Repository game-scheduler/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

add-copyright:
  name: Add copyright headers
  entry: bash scripts/add-copyright
  language: system
  pass_filenames: false

ruff-check:
  name: ruff lint
  entry: uv run ruff check --fix
  language: system
  require_serial: true

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system
  require_serial: true

mypy:
  name: mypy type check
  entry: uv run mypy
  language: system
  pass_filenames: false
  args:
  - shared/
  - services/

python-compile:
  name: Python compilation check
  entry: uv run python -m compileall -q
  language: system
  pass_filenames: false

pytest-coverage:
  name: Python unit tests with coverage
  entry: bash -c 'output=$(uv run pytest --cov --cov-report=xml --cov-report= --strict-markers -W error::UserWarning -qq 2>&1) && exit 0 || { echo "$output"; exit 1; }'
  language: system
  pass_filenames: false
  verbose: true

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

prettier:
  name: Prettier format
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

frontend-build:
  name: Frontend build check
  entry: bash -c 'cd frontend && npm run build'
  language: system
  pass_filenames: false

vitest-coverage:
  name: Frontend unit tests with coverage
  ...

docs: allow multi-task implementation requests
  .github/instructions/task-implementation.instructions.md
Due: none

docs: add commit message guidelines
  .github/instructions/commit-messages.instructions.md
  AGENTS.md
Due: none

Implement game archive phase 1
  .copilot-tracking/changes/20260311-01-game-archive-feature-changes.md
  .copilot-tracking/planning/plans/20260311-01-game-archive-feature.plan.md
  alembic/versions/20260311_add_archive_fields.py
  shared/models/channel.py
  shared/models/game.py
  shared/models/template.py
  shared/utils/status_transitions.py
  tests/services/scheduler/test_status_transitions.py
  tests/unit/shared/utils/test_status_transitions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add archive scheduling and announcement archival
  .copilot-tracking/changes/20260311-01-game-archive-feature-changes.md
  .copilot-tracking/planning/plans/20260311-01-game-archive-feature.plan.md
  services/bot/events/handlers.py
  tests/services/bot/events/test_handlers.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

chore: remove game archive feature tracking files
  .copilot-tracking/planning/details/20260311-01-game-archive-feature-details.md
  .copilot-tracking/planning/plans/20260311-01-game-archive-feature.plan.md
  .copilot-tracking/planning/prompts/implement-game-archive-feature.prompt.md
  .copilot-tracking/research/20260308-02-game-archive-feature-research.md
Due: none

docs(research): add coverage collection infrastructure research notes
  .copilot-tracking/research/20260308-03-test-coverage-gaps-research.md
Due: none

fix: unblock macos docker test mounts
  compose.e2e.yaml
  compose.int.yaml
  compose.yaml
Due: none

test: harden retry daemon DLQ integration check
  tests/integration/test_retry_daemon.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

plan: discord embed description limit fix
  .copilot-tracking/planning/details/20260314-01-discord-embed-description-limit-details.md
  .copilot-tracking/planning/plans/20260314-01-discord-embed-description-limit.plan.md
  .copilot-tracking/planning/prompts/implement-discord-embed-description-limit.prompt.md
  .copilot-tracking/research/20260314-01-discord-embed-description-limit-research.md
Due: none

chore: suppress vitest-coverage output on success
  .pre-commit-config.yaml
Due: none

docs: add git commit timeout hint to copilot instructions
  .github/copilot-instructions.md
Due: none

fix: increment image refcount when cloning a game
  .copilot-tracking/changes/20260314-02-clone-game-image-refcount-bug-changes.md
  .copilot-tracking/planning/plans/20260314-02-clone-game-image-refcount-bug.plan.md
  services/api/services/games.py
  shared/services/image_storage.py
  tests/integration/services/api/services/test_game_image_integration.py
  tests/unit/shared/services/test_image_storage.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

chore: remove planning/research files for clone-game image refcount bug
  .copilot-tracking/planning/details/20260314-02-clone-game-image-refcount-bug-details.md
  .copilot-tracking/planning/plans/20260314-02-clone-game-image-refcount-bug.plan.md
  .copilot-tracking/planning/prompts/implement-clone-game-image-refcount-bug.prompt.md
  .copilot-tracking/research/20260314-02-clone-game-image-refcount-bug-research.md
Due: none

docs: add research and planning for clone_game image reference count bug
  .copilot-tracking/planning/details/20260314-02-clone-game-image-refcount-bug-details.md
  .copilot-tracking/planning/plans/20260314-02-clone-game-image-refcount-bug.plan.md
  .copilot-tracking/planning/prompts/implement-clone-game-image-refcount-bug.prompt.md
  .copilot-tracking/research/20260314-02-clone-game-image-refcount-bug-research.md
Due: none

chore: use --progress quiet on all docker compose commands in test scripts
  scripts/run-e2e-tests.sh
  scripts/run-integration-tests.sh
Due: none

feat: show Edit/Clone game buttons for maintainers and bot managers
  frontend/src/pages/GameDetails.tsx
  frontend/src/pages/__tests__/GameDetails.test.tsx
  frontend/src/types/index.ts
  frontend/src/utils/__tests__/permissions.test.ts
  frontend/src/utils/permissions.ts
  services/api/routes/games.py
  shared/schemas/game.py
  tests/unit/services/api/routes/test_games.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

fix: stop join handler from corrupting game announcement
  services/bot/handlers/join_game.py
  services/bot/handlers/utils.py
  tests/unit/services/bot/handlers/test_utils.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

refactor: remove --import-mode=importlib and rename colliding test files
  pyproject.toml
  tests/integration/api/routes/test_guilds_integration.py
  tests/integration/shared/services/test_image_storage_integration.py
  tests/integration/test_guild_queries_integration.py
  tests/integration/test_integration_database_users.py
  tests/integration/test_maintainers_integration.py
  tests/integration/test_retry_daemon_integration.py
  tests/integration/test_sse_bridge_integration.py
  tests/shared/e2e_fixtures/helpers/test_discord_helpers.py
  tests/unit/schemas/test_schemas_template_schema.py
  tests/unit/services/api/dependencies/test_api_permissions.py
  tests/unit/services/api/routes/test_games_routes.py
  tests/unit/services/api/routes/test_guilds_routes.py
  tests/unit/services/api/routes/test_maintainers_routes.py
  tests/unit/services/api/services/test_games_service.py
  tests/unit/services/api/services/test_sse_bridge_unit.py
  tests/unit/services/api/test_api_config.py
  tests/unit/services/api/test_api_main.py
  tests/unit/services/bot/auth/test_bot_permissions.py
  tests/unit/services/bot/test_bot_config.py
  tests/unit/services/bot/test_bot_main.py
  tests/unit/services/init/test_init_database_users.py
  tests/unit/services/init/test_init_main.py
  tests/unit/services/retry/test_retry_daemon_unit.py
  tests/unit/services/scheduler/test_scheduler_status_transitions.py
  tests/unit/shared/cache/test_cache_client.py
  tests/unit/shared/data_access/test_guild_queries_unit.py
  tests/unit/shared/discord/test_discord_api_client.py
  tests/unit/shared/messaging/test_messaging_config.py
  tests/unit/shared/schemas/test_shared_template_schema.py
  tests/unit/shared/services/test_image_storage_unit.py
  tests/unit/shared/utils/test_discord_utils.py
  tests/unit/shared/utils/test_games_utils.py
  tests/unit/shared/utils/test_utils_status_transitions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

plan: add test coverage gap planning files
  .copilot-tracking/planning/details/20260308-03-test-coverage-gaps-details.md
  .copilot-tracking/planning/plans/20260308-03-test-coverage-gaps.plan.md
  .copilot-tracking/planning/prompts/implement-test-coverage-gaps.prompt.md
Due: none

test: add integration tests for bot join/leave/button handlers
  .copilot-tracking/changes/20260308-03-test-coverage-gaps-changes.md
  .copilot-tracking/planning/plans/20260308-03-test-coverage-gaps.plan.md
  tests/integration/test_button_handler.py
  tests/integration/test_join_game.py
  tests/integration/test_leave_game.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

test: Phase 4 – add unit tests for games.py, permissions.py, guild_queries.py
  .copilot-tracking/changes/20260308-03-test-coverage-gaps-changes.md
  .copilot-tracking/planning/plans/20260308-03-test-coverage-gaps.plan.md
  tests/unit/api/services/test_games.py
  tests/unit/services/api/dependencies/test_api_permissions.py
  tests/unit/shared/data_access/test_guild_queries_unit.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

chore: move coverage/randomization args out of compose defaults
  compose.e2e.yaml
  compose.int.yaml
  scripts/coverage-report.sh
Due: none

test: add unit tests for NotificationService bringing it to 100% coverage
  .copilot-tracking/changes/20260316-01-coverage-gaps-update-changes.md
  .copilot-tracking/planning/plans/20260316-01-coverage-gaps-update.plan.md
  tests/unit/services/scheduler/test_notification_service.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

test: add unit tests for events/handlers.py error and branch paths
  .copilot-tracking/planning/changes/20260316-01-coverage-gaps-update-changes.md
  .copilot-tracking/planning/plans/20260316-01-coverage-gaps-update.plan.md
  tests/unit/bot/events/__init__.py
  tests/unit/bot/events/test_handlers_game_events.py
  tests/unit/bot/events/test_handlers_lifecycle_events.py
  tests/unit/bot/events/test_handlers_misc.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

chore: remove completed coverage-gaps-update tracking files
  .copilot-tracking/planning/details/20260316-01-coverage-gaps-update-details.md
  .copilot-tracking/planning/plans/20260316-01-coverage-gaps-update.plan.md
  .copilot-tracking/planning/prompts/implement-coverage-gaps-update.prompt.md
  .copilot-tracking/research/20260316-01-coverage-gaps-update-research.md
Due: none

plan: coverage gap priority improvements
  .copilot-tracking/planning/details/20260316-03-coverage-gaps-priority-details.md
  .copilot-tracking/planning/plans/20260316-03-coverage-gaps-priority.plan.md
  .copilot-tracking/planning/prompts/implement-coverage-gaps-priority.prompt.md
  .copilot-tracking/research/20260316-03-coverage-gaps-priority-research.md
Due: none

fix: stop signal test from corrupting coverage (phases 1 & 2)
  .copilot-tracking/changes/20260316-03-coverage-gaps-priority-changes.md
  .copilot-tracking/planning/plans/20260316-03-coverage-gaps-priority.plan.md
  tests/unit/services/api/dependencies/test_auth_dependency.py
  tests/unit/services/scheduler/test_daemon_runner_run.py
  tests/unit/services/scheduler/test_generic_scheduler_daemon.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

test: add Phase 3 unit tests for cache, guild sync, and discord client
  .copilot-tracking/planning/plans/20260316-03-coverage-gaps-priority.plan.md
  tests/unit/services/bot/test_guild_sync.py
  tests/unit/shared/cache/test_cache_client.py
  tests/unit/shared/discord/test_discord_api_client.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

test: add Phase 4 integration tests for auth, games, and templates routes
  .copilot-tracking/planning/plans/20260316-03-coverage-gaps-priority.plan.md
  tests/integration/test_auth_routes.py
  tests/integration/test_games_crud.py
  tests/integration/test_templates.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

chore: update coverage plan changes file with Phase 2-5 completions
  .copilot-tracking/changes/20260316-03-coverage-gaps-priority-changes.md
Due: none

test: add unit tests for auth and games route error paths
  tests/unit/services/api/routes/test_auth_routes.py
  tests/unit/services/api/routes/test_games_endpoint_errors.py
  tests/unit/services/api/routes/test_games_routes.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: resolve discord.com channel URLs in game location
  .copilot-tracking/changes/20260318-01-discord-channel-link-location-changes.md
  .copilot-tracking/planning/plans/20260318-01-discord-channel-link-location.plan.md
  frontend/src/components/ChannelValidationErrors.tsx
  frontend/src/components/__tests__/ChannelValidationErrors.test.tsx
  frontend/src/pages/__tests__/CreateGame.test.tsx
  services/api/services/channel_resolver.py
  tests/unit/services/api/services/test_channel_resolver.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

chore: remove completed planning files for discord-channel-link-location
  .copilot-tracking/planning/details/20260318-01-discord-channel-link-location-details.md
  .copilot-tracking/planning/plans/20260318-01-discord-channel-link-location.plan.md
  .copilot-tracking/planning/prompts/implement-discord-channel-link-location.prompt.md
  .copilot-tracking/research/20260318-01-discord-channel-link-location-research.md
Due: none

fix: suppress removal DM when join notification was never sent
  services/bot/handlers/leave_game.py
  services/bot/handlers/participant_drop.py
  tests/unit/bot/handlers/test_leave_game_handler.py
  tests/unit/bot/handlers/test_participant_drop_handler.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add MessageRefreshListener for asyncpg NOTIFY
  .copilot-tracking/changes/20260319-01-discord-embed-rate-limit-changes.md
  .copilot-tracking/planning/plans/20260319-01-discord-embed-rate-limit.plan.md
  services/bot/message_refresh_listener.py
  tests/unit/services/bot/test_message_refresh_listener.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

plan: add Phase 6 integration test details for embed rate limit
  .copilot-tracking/planning/details/20260319-01-discord-embed-rate-limit-details.md
  .copilot-tracking/planning/plans/20260319-01-discord-embed-rate-limit.plan.md
Due: none

feat: add claim_channel_rate_limit_slot with Lua sorted-set rate limiter
  .copilot-tracking/changes/20260319-01-discord-embed-rate-limit-changes.md
  .copilot-tracking/planning/plans/20260319-01-discord-embed-rate-limit.plan.md
  services/bot/events/handlers.py
  shared/cache/client.py
  shared/cache/keys.py
  shared/cache/ttl.py
  tests/unit/shared/cache/test_claim_channel_rate_limit_slot.py
  tests/unit/shared/cache/test_keys.py
  tests/unit/shared/cache/test_ttl.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: upsert redesign for message_refresh_queue (Phase 7)
  .copilot-tracking/changes/20260319-01-discord-embed-rate-limit-changes.md
  .copilot-tracking/planning/plans/20260319-01-discord-embed-rate-limit.plan.md
  alembic/versions/c3d4e5f6a7b8_upsert_message_refresh_queue.py
  services/bot/bot.py
  services/bot/events/handlers.py
  shared/models/message_refresh_queue.py
  tests/integration/test_message_refresh_queue.py
  tests/integration/test_participant_action_schedule_migration.py
  tests/unit/services/bot/events/test_handlers.py
  tests/unit/services/bot/test_bot.py
  tests/unit/shared/models/test_message_refresh_queue.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

Path conditions:
  add-copyright: any of: \.(py|ts|tsx)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  python-compile: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
