Repository game-scheduler/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

Path conditions:
  add-copyright: any of: \.(py|ts|tsx)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  python-compile: any of: \.py$
  pytest-coverage: any of: ^(services|shared|tests)/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
  frontend-build: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|html)$
  vitest-coverage: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$

feat: add multi-status filter and array params (Phases 4-6)
  .copilot-tracking/changes/20260424-01-game-listing-sort-filter-changes.md
  .copilot-tracking/planning/plans/20260424-01-game-listing-sort-filter.plan.md
  frontend/src/api/client.test.ts
  frontend/src/api/client.ts
  frontend/src/pages/BrowseGames.tsx
  frontend/src/pages/MyGames.tsx
  frontend/src/pages/__tests__/BrowseGames.test.tsx
  frontend/src/types/index.ts
  tests/integration/test_games_route_guild_isolation.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage, eslint, prettier, typescript, frontend-build, vitest-coverage

chore: remove completed planning files for game-listing-sort-filter
  .copilot-tracking/planning/details/20260424-01-game-listing-sort-filter-details.md
  .copilot-tracking/planning/plans/20260424-01-game-listing-sort-filter.plan.md
  .copilot-tracking/planning/prompts/implement-game-listing-sort-filter.prompt.md
  .copilot-tracking/research/20260424-01-game-listing-sort-filter-research.md
Due: none

chore: add planning files for local-file-backup task
  .copilot-tracking/planning/details/20260424-01-local-file-backup-details.md
  .copilot-tracking/planning/plans/20260424-01-local-file-backup.plan.md
  .copilot-tracking/planning/prompts/implement-local-file-backup.prompt.md
  .copilot-tracking/research/20260424-01-local-file-backup-research.md
Due: none

chore: remove local-file-backup tracking files
  .copilot-tracking/planning/details/20260424-01-local-file-backup-details.md
  .copilot-tracking/planning/plans/20260424-01-local-file-backup.plan.md
  .copilot-tracking/planning/prompts/implement-local-file-backup.prompt.md
  .copilot-tracking/research/20260424-01-local-file-backup-research.md
Due: none

fix: update config symlink and remove config.old submodule
  config
Due: none

chore: remove completed planning files for eliminate-discord-rest-call task
  .copilot-tracking/planning/details/20260424-01-eliminate-discord-rest-call-get-user-info-details.md
  .copilot-tracking/planning/plans/20260424-01-eliminate-discord-rest-call-get-user-info.plan.md
  .copilot-tracking/planning/prompts/implement-eliminate-discord-rest-call-get-user-info.prompt.md
  .copilot-tracking/research/20260424-01-eliminate-discord-rest-call-get-user-info-research.md
Due: none

plan: remove obsolete and deprecated function parameters
  .copilot-tracking/planning/details/20260425-01-unused-underscore-prefixed-parameters-details.md
  .copilot-tracking/planning/plans/20260425-01-unused-underscore-prefixed-parameters.plan.md
  .copilot-tracking/planning/prompts/implement-unused-underscore-prefixed-parameters.prompt.md
  .copilot-tracking/research/20260425-01-unused-underscore-prefixed-parameters-research.md
Due: none

refactor: remove unused _role_service and deprecated _process_dlq params
  .copilot-tracking/changes/20260425-01-unused-underscore-prefixed-parameters-changes.md
  .copilot-tracking/planning/plans/20260425-01-unused-underscore-prefixed-parameters.plan.md
  services/api/dependencies/permissions.py
  services/scheduler/generic_scheduler_daemon.py
  services/scheduler/scheduler_daemon_wrapper.py
  tests/unit/services/api/dependencies/test_api_permissions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

docs: add Phase Isolation Requirements to task-planner agent
  .github/agents/task-planner.agent.md
Due: none

chore: remove completed planning files for remove-dead-discord-rest-code
  .copilot-tracking/planning/details/20260425-02-remove-dead-discord-rest-code-details.md
  .copilot-tracking/planning/plans/20260425-02-remove-dead-discord-rest-code.plan.md
  .copilot-tracking/planning/prompts/implement-remove-dead-discord-rest-code.prompt.md
  .copilot-tracking/research/20260425-02-remove-dead-discord-rest-code-research.md
Due: none

refactor: remove dead Discord REST methods and associated code
  .copilot-tracking/changes/20260425-02-remove-dead-discord-rest-code-changes.md
  .copilot-tracking/planning/plans/20260425-02-remove-dead-discord-rest-code.plan.md
  services/api/auth/oauth2.py
  shared/cache/operations.py
  shared/discord/client.py
  tests/conftest.py
  tests/unit/services/api/auth/test_oauth2.py
  tests/unit/services/api/database/test_queries.py
  tests/unit/services/api/routes/test_auth_routes.py
  tests/unit/services/api/routes/test_guilds_routes.py
  tests/unit/services/api/test_database_dependencies.py
  tests/unit/services/api/test_negative_authorization.py
  tests/unit/shared/cache/test_operations.py
  tests/unit/shared/discord/test_discord_api_client.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

docs: add unit-tests.instructions.md for test quality standards
  .github/instructions/unit-tests.instructions.md
  AGENTS.md
  CLAUDE.md
Due: none

feat: rename API-owned Redis keys to api: prefix (Phase 1)
  .copilot-tracking/changes/20260421-03-redis-acl-key-ownership-changes.md
  .copilot-tracking/planning/plans/20260421-03-redis-acl-key-ownership.plan.md
  services/api/auth/oauth2.py
  services/api/auth/tokens.py
  services/api/routes/maintainers.py
  shared/cache/keys.py
  tests/integration/test_auth_routes.py
  tests/integration/test_maintainers_integration.py
  tests/shared/auth_helpers.py
  tests/unit/services/api/auth/test_tokens.py
  tests/unit/services/api/routes/test_maintainers_routes.py
  tests/unit/shared/cache/test_keys.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: transfer user_roles ownership to API; remove bot cache write path (Phase 2)
  .copilot-tracking/changes/20260421-03-redis-acl-key-ownership-changes.md
  .copilot-tracking/planning/plans/20260421-03-redis-acl-key-ownership.plan.md
  services/bot/auth/cache.py
  services/bot/auth/role_checker.py
  shared/cache/keys.py
  tests/unit/services/bot/auth/test_cache.py
  tests/unit/services/bot/auth/test_role_checker.py
  tests/unit/shared/cache/test_keys.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: rename discord:member: key prefix to api:member: (Phase 3)
  .copilot-tracking/changes/20260421-03-redis-acl-key-ownership-changes.md
  .copilot-tracking/planning/plans/20260421-03-redis-acl-key-ownership.plan.md
  shared/cache/keys.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: wire Redis ACL credentials and fix integration test infrastructure
  compose.e2e.yaml
  compose.int.yaml
  compose.override.yaml
  compose.staging.yaml
  compose.yaml
  config.template/env.template
  docker/redis-entrypoint.sh
  scripts/run-integration-tests.sh
  shared/cache/client.py
  tests/integration/env.int
  tests/unit/shared/cache/test_claim_global_and_channel_slot.py
  tests/unit/shared/cache/test_keys.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

plan: add game-list-pagination planning files
  .copilot-tracking/planning/details/20260425-01-game-list-pagination-details.md
  .copilot-tracking/planning/plans/20260425-01-game-list-pagination.plan.md
  .copilot-tracking/planning/prompts/implement-game-list-pagination.prompt.md
  .copilot-tracking/research/20260425-01-game-list-pagination-research.md
Due: none

fix: restore tests/integration/env.int and revert script default
  scripts/run-integration-tests.sh
  tests/integration/env.int
Due: none

plan: coalesce member-event projection rebuilds via asyncio.Event worker
  .copilot-tracking/planning/details/20260426-01-coalesce-member-update-projection-details.md
  .copilot-tracking/planning/plans/20260426-01-coalesce-member-update-projection.plan.md
  .copilot-tracking/planning/prompts/implement-coalesce-member-update-projection.prompt.md
  .copilot-tracking/research/20260426-01-coalesce-member-update-projection-research.md
Due: none

feat: add pytest-testmon to speed up pre-commit unit test runs
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

fix: use app_db (RLS-enforced session) in test_delete_game_with_participant_succeeds
  shared/models/game.py
  tests/e2e/test_embed_deletion.py
  tests/e2e/test_game_cancellation.py
  tests/integration/services/api/services/test_game_image_integration.py
  tests/integration/test_embed_deletion_consumer.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix(integration): reset RabbitMQ connection singleton between tests
  shared/messaging/config.py
  tests/integration/conftest.py
  tests/unit/shared/messaging/test_messaging_config.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

chore: run check-test-assertions before pytest, after mypy
  .pre-commit-config.yaml
Due: none

fix: add assertions to test_bot_main and test_retry_daemon_unit
  tests/unit/services/bot/test_bot_main.py
  tests/unit/services/retry/test_retry_daemon_unit.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: add assertions to test_sse_bridge, test_handlers_refresh, test_handlers_misc, test_retry_daemon
  pyproject.toml
  tests/unit/bot/events/test_handlers_misc.py
  tests/unit/services/api/services/test_sse_bridge_unit.py
  tests/unit/services/bot/events/test_handlers_refresh_message.py
  tests/unit/services/retry/test_retry_daemon_unit.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: strengthen weak assertions in batch 10 (19 violations, 19 files)
  tests/backup/conftest.py
  tests/backup/test_backup_post_restore.py
  tests/shared/e2e_fixtures/test_conftest.py
  tests/unit/api/services/test_games.py
  tests/unit/bot/handlers/test_leave_game_handler.py
  tests/unit/bot/views/test_clone_confirmation_view.py
  tests/unit/services/api/auth/test_discord_client.py
  tests/unit/services/api/auth/test_tokens.py
  tests/unit/services/api/middleware/test_cors.py
  tests/unit/services/api/services/test_games_edit_participants.py
  tests/unit/services/api/services/test_participant_resolver.py
  tests/unit/services/api/test_database_dependencies.py
  tests/unit/services/bot/events/test_handlers_game_updated.py
  tests/unit/services/bot/events/test_handlers_init.py
  tests/unit/services/bot/handlers/test_join_game.py
  tests/unit/services/bot/handlers/test_participant_drop.py
  tests/unit/services/bot/test_message_refresh_listener.py
  tests/unit/services/init/test_init_main.py
  tests/unit/services/scheduler/test_notification_service.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix(tests): add assertions to test_guilds_routes.py (27 violations)
  tests/unit/services/api/routes/test_guilds_routes.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: add missing mock assertions in test_cache_client.py
  tests/unit/shared/cache/test_cache_client.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: extend no-arg-methods exemption to patch alias receivers
  pyproject.toml
  scripts/check_test_assertions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile

refactor: rename assert-no-args marker to assert-not-weak with required reason
  .github/instructions/quality-check-overrides.instructions.md
  .github/instructions/unit-tests.instructions.md
  docs/developer/fix-test-assertion-violations.md
  scripts/check_test_assertions.py
  tests/unit/scripts/test_check_test_assertions.py
  tests/unit/services/api/routes/test_channels.py
  tests/unit/services/bot/events/test_handlers_join_notification.py
  tests/unit/services/bot/formatters/test_game_message.py
  tests/unit/services/init/test_main_roles_only.py
  tests/unit/services/retry/test_retry_daemon_unit.py
  tests/unit/services/scheduler/test_generic_scheduler_daemon.py
  tests/unit/shared/cache/test_cache_client.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: add Jedi-based validation of # assert-no-args annotations
  pyproject.toml
  scripts/check_test_assertions.py
  tests/unit/scripts/test_check_test_assertions.py
  uv.lock
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: add missing assertions to test_templates.py
  tests/unit/services/api/routes/test_templates.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix(tests): add assertions to test_game_message.py (50 violations)
  .copilot-tracking/planning/changes/20260426-02-test-quality-precommit-gate-changes.md
  .copilot-tracking/planning/plans/20260426-02-test-quality-precommit-gate.plan.md
  tests/unit/services/bot/formatters/test_game_message.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: support explicit file paths as arguments to the checker
  scripts/check_test_assertions.py
  tests/unit/scripts/test_check_test_assertions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: count only required params in Jedi check
  scripts/check_test_assertions.py
  tests/unit/scripts/test_check_test_assertions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

fix: only flag patch() aliases as named mocks, not all with-as blocks
  scripts/check_test_assertions.py
  tests/unit/scripts/test_check_test_assertions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: flag bare assert_called_once() as weak assertion violation
  docs/developer/fix-test-assertion-violations.md
  scripts/check_test_assertions.py
  tests/unit/scripts/test_check_test_assertions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

feat: enforce assert_called_once_with() for zero-argument annotations
  docs/developer/fix-test-assertion-violations.md
  scripts/check_test_assertions.py
  tests/unit/scripts/test_check_test_assertions.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage

docs: add 'scanner is a floor not a target' principle to unit-test instructions
  .github/instructions/unit-tests.instructions.md
Due: none

fix: strengthen assertions in test_discord_api_client
  tests/unit/shared/discord/test_discord_api_client.py
Due: add-copyright, ruff-check, ruff-format, mypy, python-compile, pytest-coverage
