Repository game-scheduler/game-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, eslint, prettier, typescript

ruff-check:
  name: ruff lint
  entry: uv run ruff check --fix
  language: system
  require_serial: true

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system
  require_serial: true

mypy:
  name: mypy type check
  entry: uv run mypy
  language: system
  pass_filenames: false
  args:
  - shared/
  - services/

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

prettier:
  name: Prettier format
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

Move game utilities to dedicated module
  services/api/services/games.py
  services/bot/events/handlers.py
  services/bot/handlers/join_game.py
  shared/utils/games.py
  shared/utils/participant_sorting.py
  tests/services/api/services/test_games_promotion.py
  tests/shared/utils/test_games.py
  tests/shared/utils/test_participant_sorting.py
Due: ruff-check, ruff-format, mypy

Add E2E test for player removal DM notification
  .copilot-tracking/changes/20251222-e2e-test-strategy-changes.md
  .copilot-tracking/plans/20251222-e2e-test-strategy-plan.instructions.md
  services/api/services/games.py
  services/bot/events/handlers.py
  tests/e2e/test_dm_retrieval.py
  tests/e2e/test_player_removal.py
Due: ruff-check, ruff-format, mypy

Improve Docker Compose service dependencies and test debugging
  compose.e2e.yaml
  compose.int.yaml
  compose.prod.yaml
  compose.staging.yaml
  docs/DOCKER_COMPOSE_DEPENDENCIES.md
Due: none

Add compilation checks to commit validation steps
  .github/prompts/commit.prompt.md
Due: none

fix: use partition_participants() for promotion detection
  .copilot-tracking/changes/20251224-promotion-detection-placeholder-bug-changes.md
  .copilot-tracking/plans/20251224-promotion-detection-placeholder-bug-plan.instructions.md
  services/api/services/games.py
  tests/services/api/services/test_games_promotion.py
Due: ruff-check, ruff-format, mypy

test: add E2E test for waitlist promotion DM (Task 5.3)
  .copilot-tracking/research/20251224-resume-after-promotion-fix.md
  tests/e2e/test_waitlist_promotion.py
Due: ruff-check, ruff-format, mypy

Fix PLR2004 violations in game schema by using existing constants
  shared/schemas/game.py
Due: ruff-check, ruff-format, mypy

Refactor participant ordering to use position_type and position fields
  .copilot-tracking/changes/20251224-participant-ordering-schema-refactor-changes.md
  .copilot-tracking/plans/20251224-participant-ordering-schema-refactor-plan.instructions.md
  .copilot-tracking/prompts/implement-participant-ordering-schema-refactor.prompt.md
  frontend/src/constants/time.ts
  frontend/src/constants/ui.ts
  services/__init__.py
  services/api/routes/games.py
  services/api/services/games.py
  services/bot/events/handlers.py
  services/bot/handlers/join_game.py
  shared/models/participant.py
  shared/schemas/game.py
  shared/schemas/participant.py
  shared/utils/participant_sorting.py
  tests/e2e/test_user_join.py
  tests/services/api/routes/test_export.py
  tests/services/api/routes/test_games_participant_count.py
  tests/services/api/services/test_calendar_export.py
  tests/services/api/services/test_games.py
  tests/services/api/services/test_games_edit_participants.py
  tests/services/api/services/test_games_promotion.py
  tests/services/api/services/test_participant_creation_order.py
  tests/services/bot/events/test_handlers.py
  tests/shared/utils/test_participant_sorting.py
Due: ruff-check, ruff-format, mypy, eslint, prettier, typescript

docs: Update E2E test tracking for waitlist promotion implementation
  .copilot-tracking/plans/20251222-e2e-test-strategy-plan.instructions.md
  .copilot-tracking/research/20251222-e2e-test-strategy-research.md
  .copilot-tracking/research/20251224-promotion-detection-bug.md
Due: none

Fix waitlist promotion detection after deletions
  .copilot-tracking/changes/20251222-e2e-test-strategy-changes.md
  .copilot-tracking/plans/20251222-e2e-test-strategy-plan.instructions.md
  services/api/services/games.py
  tests/services/api/services/test_games_promotion.py
Due: ruff-check, ruff-format, mypy

Complete Phase 5 of Discord client consolidation plan
  .copilot-tracking/changes/20251220-discord-client-consolidation-changes.md
  .copilot-tracking/plans/20251220-discord-client-consolidation-plan.instructions.md
  .copilot-tracking/prompts/implement-discord-client-consolidation.prompt.md
Due: none

Add E2E test polling pattern refactoring plan
  .copilot-tracking/details/20251225-e2e-polling-patterns-details.md
  .copilot-tracking/plans/20251225-e2e-polling-patterns-plan.instructions.md
  .copilot-tracking/prompts/implement-e2e-polling-patterns.prompt.md
  .copilot-tracking/research/20251225-e2e-polling-patterns-research.md
Due: none

Add E2E polling utilities (Phase 1)
  .copilot-tracking/changes/20251225-e2e-polling-patterns-changes.md
  .copilot-tracking/plans/20251225-e2e-polling-patterns-plan.instructions.md
  tests/e2e/conftest.py
  tests/e2e/helpers/discord.py
  tests/e2e/helpers/test_discord.py
  tests/e2e/test_conftest.py
Due: ruff-check, ruff-format, mypy

Refactor E2E tests with modular polling utilities
  .copilot-tracking/changes/20251225-e2e-polling-patterns-changes.md
  .copilot-tracking/plans/20251225-e2e-polling-patterns-plan.instructions.md
  .copilot-tracking/prompts/implement-e2e-polling-patterns.prompt.md
  services/api/services/games.py
  services/bot/events/handlers.py
  shared/message_formats.py
  tests/e2e/conftest.py
  tests/e2e/helpers/discord.py
  tests/e2e/helpers/test_discord.py
  tests/e2e/test_00_environment.py
  tests/e2e/test_game_announcement.py
  tests/e2e/test_game_cancellation.py
  tests/e2e/test_game_reminder.py
  tests/e2e/test_game_status_transitions.py
  tests/e2e/test_game_update.py
  tests/e2e/test_join_notification.py
  tests/e2e/test_player_removal.py
  tests/e2e/test_user_join.py
  tests/e2e/test_waitlist_promotion.py
Due: ruff-check, ruff-format, mypy

Fix pytest-asyncio deprecation warnings
  pyproject.toml
  tests/services/bot/views/test_game_view.py
Due: ruff-check, ruff-format, mypy

refactor: reorganize deployment config into config/ directory
  .copilot-tracking/changes/20251226-deployment-config-organization-changes.md
  .copilot-tracking/plans/20251226-deployment-config-organization-plan.instructions.md
  config/grafana-alloy/SETUP_GRAFANA_CLOUD.md
  config/grafana-alloy/config.alloy
  config/grafana-alloy/dashboards/README.md
  config/grafana-alloy/dashboards/retry-daemon-dashboard.json
  config/rabbitmq/rabbitmq.conf
  docs/grafana-alloy/TESTING_PHASE1.md
  docs/grafana-alloy/TESTING_PHASE2.md
  docs/grafana-alloy/TESTING_PHASE3.md
  docs/grafana-alloy/TESTING_PHASE4.md
  docs/grafana-alloy/TESTING_PHASE5.md
  docs/grafana-alloy/TESTING_PHASE6.md
  docs/grafana-alloy/TESTING_PHASE7.md
Due: none

Add pre-commit hooks for diff-coverage on Python and TypeScript code
  .pre-commit-config.yaml
  frontend/vitest.config.ts
  pyproject.toml
  uv.lock
Due: eslint, prettier, typescript

Add guideline to write unit tests at the same time as code
  .github/instructions/coding-best-practices.instructions.md
Due: none

Add planning files for multiple signup methods feature
  .copilot-tracking/details/20251226-multiple-signup-methods-details.md
  .copilot-tracking/plans/20251226-multiple-signup-methods-plan.instructions.md
  .copilot-tracking/prompts/implement-multiple-signup-methods.prompt.md
  .copilot-tracking/research/20251226-multiple-signup-methods-research.md
Due: none

Optimize pre-commit hooks: reduce test output verbosity and improve coverage reporting
  .pre-commit-config.yaml
Due: none

Add pre-commit hooks for diff-coverage on Python and TypeScript code
  .pre-commit-config.yaml
Due: none

Move test warning configuration to global pytest settings
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Fix httpx DeprecationWarning in integration tests
  tests/integration/test_template_default_overrides.py
Due: ruff-check, ruff-format, mypy

Improve game embed layout and form labels
  frontend/src/components/GameForm.tsx
  frontend/src/components/__tests__/GameForm.test.tsx
  services/bot/formatters/game_message.py
  services/bot/utils/__init__.py
  services/bot/utils/discord_format.py
  tests/e2e/helpers/discord.py
  tests/services/bot/formatters/test_game_message.py
  tests/services/bot/utils/test_discord_format.py
Due: ruff-check, ruff-format, mypy, eslint, prettier, typescript

Fix SQLAlchemy MissingGreenlet error in game creation with participants
  services/api/services/games.py
  tests/integration/test_game_signup_methods.py
  tests/integration/test_template_default_overrides.py
  tests/services/api/services/test_games.py
  tests/services/api/services/test_games_image_upload.py
Due: ruff-check, ruff-format, mypy

Sanitize database error messages in production
  services/api/middleware/error_handler.py
  tests/services/api/middleware/test_error_handler.py
Due: ruff-check, ruff-format, mypy

docs: clarify magic number guidelines - only -1, 0, 1 allowed as literals
  .github/instructions/coding-best-practices.instructions.md
Due: none

Add integration and E2E tests for games route baseline
  .copilot-tracking/changes/20260101-centralized-query-layer-deduplication-security-changes.md
  .copilot-tracking/prompts/implement-centralized-query-layer-deduplication-security.prompt.md
  .gitignore
  tests/e2e/test_game_authorization.py
  tests/integration/test_games_route_guild_isolation.py
Due: ruff-check, ruff-format, mypy

Research: Guild isolation via middleware-based RLS
  .copilot-tracking/research/20260101-middleware-rls-guild-isolation-research.md
  .copilot-tracking/research/20260101-rls-multi-guild-validation-test.md
Due: none

Add planning files for middleware-based guild isolation with RLS
  .copilot-tracking/details/20260101-middleware-rls-guild-isolation-details.md
  .copilot-tracking/plans/20260101-middleware-rls-guild-isolation-plan.instructions.md
  .copilot-tracking/prompts/implement-middleware-rls-guild-isolation.prompt.md
Due: none

docs: add RLS validation test results and Phase 0 two-user database architecture
  .copilot-tracking/research/20260101-middleware-rls-guild-isolation-research.md
  .copilot-tracking/research/20260101-rls-multi-guild-validation-test.md
Due: none

Add ContextVar infrastructure for guild isolation (Tasks 1.1-1.2)
  .copilot-tracking/changes/20260101-middleware-rls-guild-isolation-changes.md
  .copilot-tracking/plans/20260101-middleware-rls-guild-isolation-plan.instructions.md
  shared/data_access/guild_isolation.py
  tests/shared/data_access/test_guild_isolation.py
Due: ruff-check, ruff-format, mypy

docs: enhance integration tests instructions to include e2e tests
  .github/instructions/integration-tests.instructions.md
Due: none

Research: RLS performance scaling analysis for bot/daemon services
  .copilot-tracking/research/20260102-rls-performance-scaling-bot-analysis.md
Due: none

feat(rls): add integration tests for template routes guild isolation (Task 2.3)
  .copilot-tracking/changes/20260101-middleware-rls-guild-isolation-changes.md
  .copilot-tracking/plans/20260101-middleware-rls-guild-isolation-plan.instructions.md
  tests/integration/test_template_routes_guild_isolation.py
Due: ruff-check, ruff-format, mypy

Task 2.4: Migrate template route dependencies to get_db_with_user_guilds
  .copilot-tracking/changes/20260101-middleware-rls-guild-isolation-changes.md
  .copilot-tracking/plans/20260101-middleware-rls-guild-isolation-plan.instructions.md
  services/api/routes/templates.py
  shared/database.py
Due: ruff-check, ruff-format, mypy

feat(api): migrate guild routes to use guild isolation dependency
  .copilot-tracking/changes/20260101-middleware-rls-guild-isolation-changes.md
  .copilot-tracking/plans/20260101-middleware-rls-guild-isolation-plan.instructions.md
  services/api/routes/guilds.py
Due: ruff-check, ruff-format, mypy

Rename Discord environment variables for clarity
  .copilot-tracking/changes/20260101-middleware-rls-guild-isolation-changes.md
  .copilot-tracking/plans/20260101-middleware-rls-guild-isolation-plan.instructions.md
  TESTING_E2E.md
  compose.e2e.yaml
  compose.override.yaml
  compose.yaml
  config.template/env.template
  scripts/run-e2e-tests.sh
  services/api/config.py
  services/bot/bot.py
  services/bot/config.py
  services/bot/dependencies/discord_client.py
  services/bot/main.py
  services/init/seed_e2e.py
  tests/e2e/conftest.py
  tests/e2e/test_00_environment.py
  tests/services/api/test_config.py
  tests/services/bot/test_bot.py
  tests/services/bot/test_config.py
Due: ruff-check, ruff-format, mypy

Simplify About page version display format
  frontend/src/pages/About.tsx
  frontend/src/pages/__tests__/About.test.tsx
Due: eslint, prettier, typescript

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
